<configuration>

    <property name="PATTERN_STATISTICS"
        value='STATISTICS {"time":"%d", "sessionId":"%X{sessionId}", "robotName":"%X{robotName}", "logLevel":"%level", "message":%msg}%n' />

    <property name="PATTERN_LOG"
        value='%d [%thread] session-id=[%X{sessionId}] user-id=[%X{userId}] robot-name=[%X{robotName}] %-1level %logger{36} - %msg%n' />

    <appender name="LOG" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN_LOG}</pattern>
        </encoder>
    </appender>

    <appender name="STATISTICS" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN_STATISTICS}</pattern>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="LOG" />
    </root>
    
    <logger name="statistics" level="INFO" additivity="false">
        <appender-ref ref="STATISTICS" />
    </logger>
    
    <logger name="crosscompiler_error" level="INFO" additivity="false">
        <appender-ref ref="LOG" />
    </logger>
    

    <logger name="org.hibernate" level="WARN" />

    <logger name="de.fhg.iais.roberta.main.Administration" level="INFO" />
    <logger name="de.fhg.iais.roberta.main.ServerStarter" level="INFO" />

</configuration>