@font-face {
    font-family: 'typicons';
    src: url('fonts/typicons.eot?ma90gi');
    src: url('fonts/typicons.eot?ma90gi#iefix') format('embedded-opentype'),
    url('fonts/typicons.ttf?ma90gi') format('truetype'),
    url('fonts/typicons.woff?ma90gi') format('woff'),
    url('fonts/typicons.svg?ma90gi#typicons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.typcn:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'typicons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.typcn-txt4:before {
    content: "\e900";
}

.typcn-menu_dots:before {
    content: "\e600";
}

.typcn-step:before {
    content: "\e601";
}

.typcn-Roberta:before {
    content: "\e603";
}

.typcn-20:before {
    content: "\e901";
}

.typcn-99:before {
    content: "\e902";
}

.typcn-90:before {
    content: "\e903";
}

.typcn-80:before {
    content: "\e904";
}

.typcn-70:before {
    content: "\e905";
}

.typcn-60:before {
    content: "\e906";
}

.typcn-50:before {
    content: "\e907";
}

.typcn-40:before {
    content: "\e908";
}

.typcn-30:before {
    content: "\e909";
}

.typcn-10:before {
    content: "\e90a";
}

.typcn-debug:before {
    content: "\e90b";
}

.typcn-box:before {
    content: "\e90c";
}

.typcn-blockly-trashcan:before {
    content: "\e90d";
}

.typcn-feedback:before {
    content: "\e90e";
}

.typcn-festobionic:before {
    content: "\e90f";
}

.typcn-section:before {
    content: "\e910";
}

.typcn-sensebox:before {
    content: "\e911";
}

.typcn-wedo:before {
    content: "\e912";
}

.typcn-edison:before {
    content: "\e913";
}

.typcn-bob3:before {
    content: "\e914";
}

.typcn-nao:before {
    content: "\e915";
}

.typcn-open:before {
    content: "\e916";
}

.typcn-questionmark:before {
    content: "\e917";
}

.typcn-simulation:before {
    content: "\e918";
}

.typcn-variable:before {
    content: "\e919";
}

.typcn-led:before {
    content: "\e91a";
}

.typcn-sensor:before {
    content: "\e91b";
}

.typcn-loop:before {
    content: "\e91c";
}

.typcn-math:before {
    content: "\e91d";
}

.typcn-logic:before {
    content: "\e91e";
}

.typcn-steering_wheel:before {
    content: "\e91f";
}

.typcn-move:before {
    content: "\e920";
}

.typcn-action:before {
    content: "\e921";
}

.typcn-walk:before {
    content: "\e922";
}

.typcn-botnroll:before {
    content: "\e923";
}

.typcn-microduino:before {
    content: "\e924";
}

.typcn-wait:before {
    content: "\e925";
}

.typcn-zoom:before {
    content: "\e926";
}

.typcn-zoom-out:before {
    content: "\e927";
}

.typcn-zoom-out-outline:before {
    content: "\e928";
}

.typcn-zoom-in:before {
    content: "\e929";
}

.typcn-zoom-in-outline:before {
    content: "\e92a";
}

.typcn-world:before {
    content: "\e92b";
}

.typcn-nxt:before {
    content: "\e92c";
}

.typcn-world-outline:before {
    content: "\e92d";
}

.typcn-zoom-outline:before {
    content: "\e92e";
}

.typcn-wine:before {
    content: "\e92f";
}

.typcn-wi-fi:before {
    content: "\e930";
}

.typcn-wi-fi-outline:before {
    content: "\e931";
}

.typcn-weather-windy:before {
    content: "\e932";
}

.typcn-weather-windy-cloudy:before {
    content: "\e933";
}

.typcn-weather-sunny:before {
    content: "\e934";
}

.typcn-weather-stormy:before {
    content: "\e935";
}

.typcn-weather-snow:before {
    content: "\e936";
}

.typcn-weather-shower:before {
    content: "\e937";
}

.typcn-weather-partly-sunny:before {
    content: "\e938";
}

.typcn-weather-night:before {
    content: "\e939";
}

.typcn-weather-downpour:before {
    content: "\e93a";
}

.typcn-weather-cloudy:before {
    content: "\e93b";
}

.typcn-waves:before {
    content: "\e93c";
}

.typcn-waves-outline:before {
    content: "\e93d";
}

.typcn-watch:before {
    content: "\e93e";
}

.typcn-warning:before {
    content: "\e93f";
}

.typcn-warning-outline:before {
    content: "\e940";
}

.typcn-volume:before {
    content: "\e941";
}

.typcn-volume-up:before {
    content: "\e942";
}

.typcn-volume-mute:before {
    content: "\e943";
}

.typcn-volume-down:before {
    content: "\e944";
}

.typcn-video:before {
    content: "\e945";
}

.typcn-video1:before {
    content: "\e946";
}

.typcn-txt41:before {
    content: "\e947";
}

.typcn-video-outline:before {
    content: "\e948";
}

.typcn-vendor-microsoft:before {
    content: "\e949";
}

.typcn-vendor-apple:before {
    content: "\e94a";
}

.typcn-vendor-android:before {
    content: "\e94b";
}

.typcn-user:before {
    content: "\e94c";
}

.typcn-user-outline:before {
    content: "\e94d";
}

.typcn-user-delete:before {
    content: "\e94e";
}

.typcn-user-delete-outline:before {
    content: "\e94f";
}

.typcn-user-add:before {
    content: "\e950";
}

.typcn-user-add-outline:before {
    content: "\e951";
}

.typcn-upload:before {
    content: "\e952";
}

.typcn-upload-outline:before {
    content: "\e953";
}

.typcn-tree:before {
    content: "\e954";
}

.typcn-trash:before {
    content: "\e955";
}

.typcn-times:before {
    content: "\e956";
}

.typcn-times-outline:before {
    content: "\e957";
}

.typcn-time:before {
    content: "\e958";
}

.typcn-ticket:before {
    content: "\e959";
}

.typcn-tick:before {
    content: "\e95a";
}

.typcn-tick-outline:before {
    content: "\e95b";
}

.typcn-thumbs-up:before {
    content: "\e95c";
}

.typcn-thumbs-ok:before {
    content: "\e95d";
}

.typcn-thumbs-down:before {
    content: "\e95e";
}

.typcn-thermometer:before {
    content: "\e95f";
}

.typcn-th-small:before {
    content: "\e960";
}

.typcn-th-small-outline:before {
    content: "\e961";
}

.typcn-th-menu:before {
    content: "\e962";
}

.typcn-th-menu-outline:before {
    content: "\e963";
}

.typcn-th-list:before {
    content: "\e964";
}

.typcn-th-list-outline:before {
    content: "\e965";
}

.typcn-th-large:before {
    content: "\e966";
}

.typcn-th-large-outline:before {
    content: "\e967";
}

.typcn-tags:before {
    content: "\e968";
}

.typcn-tag:before {
    content: "\e969";
}

.typcn-tabs-outline:before {
    content: "\e96a";
}

.typcn-support:before {
    content: "\e96b";
}

.typcn-stopwatch:before {
    content: "\e96c";
}

.typcn-starburst:before {
    content: "\e96d";
}

.typcn-starburst-outline:before {
    content: "\e96e";
}

.typcn-star:before {
    content: "\e96f";
}

.typcn-star-outline:before {
    content: "\e970";
}

.typcn-star-half:before {
    content: "\e971";
}

.typcn-star-half-outline:before {
    content: "\e972";
}

.typcn-star-full-outline:before {
    content: "\e973";
}

.typcn-spiral:before {
    content: "\e974";
}

.typcn-spanner:before {
    content: "\e975";
}

.typcn-spanner-outline:before {
    content: "\e976";
}

.typcn-sort-numerically:before {
    content: "\e977";
}

.typcn-sort-numerically-outline:before {
    content: "\e978";
}

.typcn-sort-alphabetically:before {
    content: "\e979";
}

.typcn-sort-alphabetically-outline:before {
    content: "\e97a";
}

.typcn-social-youtube:before {
    content: "\e97b";
}

.typcn-social-youtube-circular:before {
    content: "\e97c";
}

.typcn-social-vimeo:before {
    content: "\e97d";
}

.typcn-social-vimeo-circular:before {
    content: "\e97e";
}

.typcn-social-twitter:before {
    content: "\e97f";
}

.typcn-social-twitter-circular:before {
    content: "\e980";
}

.typcn-social-tumbler:before {
    content: "\e981";
}

.typcn-social-tumbler-circular:before {
    content: "\e982";
}

.typcn-social-skype:before {
    content: "\e983";
}

.typcn-social-skype-outline:before {
    content: "\e984";
}

.typcn-social-pinterest:before {
    content: "\e985";
}

.typcn-social-pinterest-circular:before {
    content: "\e986";
}

.typcn-social-linkedin:before {
    content: "\e987";
}

.typcn-social-linkedin-circular:before {
    content: "\e988";
}

.typcn-social-last-fm:before {
    content: "\e989";
}

.typcn-social-last-fm-circular:before {
    content: "\e98a";
}

.typcn-social-instagram:before {
    content: "\e98b";
}

.typcn-social-instagram-circular:before {
    content: "\e98c";
}

.typcn-social-google-plus:before {
    content: "\e98d";
}

.typcn-social-google-plus-circular:before {
    content: "\e98e";
}

.typcn-social-github:before {
    content: "\e98f";
}

.typcn-social-github-circular:before {
    content: "\e990";
}

.typcn-social-flickr:before {
    content: "\e991";
}

.typcn-social-flickr-circular:before {
    content: "\e992";
}

.typcn-social-facebook:before {
    content: "\e993";
}

.typcn-social-facebook-circular:before {
    content: "\e994";
}

.typcn-social-dribbble:before {
    content: "\e995";
}

.typcn-social-dribbble-circular:before {
    content: "\e996";
}

.typcn-social-at-circular:before {
    content: "\e997";
}

.typcn-shopping-cart:before {
    content: "\e998";
}

.typcn-shopping-bag:before {
    content: "\e999";
}

.typcn-scissors:before {
    content: "\e99a";
}

.typcn-scissors-outline:before {
    content: "\e99b";
}

.typcn-rss:before {
    content: "\e99c";
}

.typcn-rss-outline:before {
    content: "\e99d";
}

.typcn-refresh:before {
    content: "\e99e";
}

.typcn-refresh-outline:before {
    content: "\e99f";
}

.typcn-radar:before {
    content: "\e9a0";
}

.typcn-radar-outline:before {
    content: "\e9a1";
}

.typcn-puzzle:before {
    content: "\e9a2";
}

.typcn-puzzle-outline:before {
    content: "\e9a3";
}

.typcn-printer:before {
    content: "\e9a4";
}

.typcn-power:before {
    content: "\e9a5";
}

.typcn-vorwerk:before {
    content: "\e9a6";
}

.typcn-point-of-interest:before {
    content: "\e9a7";
}

.typcn-point-of-interest-outline:before {
    content: "\e9a8";
}

.typcn-plus:before {
    content: "\e9a9";
}

.typcn-plus-outline:before {
    content: "\e9aa";
}

.typcn-plug:before {
    content: "\e9ab";
}

.typcn-plane:before {
    content: "\e9ac";
}

.typcn-plane-outline:before {
    content: "\e9ad";
}

.typcn-pipette:before {
    content: "\e9ae";
}

.typcn-pin:before {
    content: "\e9af";
}

.typcn-pin-outline:before {
    content: "\e9b0";
}

.typcn-pi:before {
    content: "\e9b1";
}

.typcn-pi-outline:before {
    content: "\e9b2";
}

.typcn-phone:before {
    content: "\e9b3";
}

.typcn-phone-outline:before {
    content: "\e9b4";
}

.typcn-pencil:before {
    content: "\e9b5";
}

.typcn-pen:before {
    content: "\e9b6";
}

.typcn-notes:before {
    content: "\e9b7";
}

.typcn-notes-outline:before {
    content: "\e9b8";
}

.typcn-news:before {
    content: "\e9b9";
}

.typcn-mortar-board:before {
    content: "\e9ba";
}

.typcn-minus:before {
    content: "\e9bb";
}

.typcn-minus-outline:before {
    content: "\e9bc";
}

.typcn-microphone:before {
    content: "\e9bd";
}

.typcn-microphone-outline:before {
    content: "\e9be";
}

.typcn-messages:before {
    content: "\e9bf";
}

.typcn-message:before {
    content: "\e9c0";
}

.typcn-message-typing:before {
    content: "\e9c1";
}

.typcn-media-stop:before {
    content: "\e9c2";
}

.typcn-media-stop-outline:before {
    content: "\e9c3";
}

.typcn-media-rewind:before {
    content: "\e9c4";
}

.typcn-media-rewind-outline:before {
    content: "\e9c5";
}

.typcn-media-record:before {
    content: "\e9c6";
}

.typcn-media-record-outline:before {
    content: "\e9c7";
}

.typcn-media-play:before {
    content: "\e9c8";
}

.typcn-media-play-reverse:before {
    content: "\e9c9";
}

.typcn-media-play-reverse-outline:before {
    content: "\e9ca";
}

.typcn-media-play-outline:before {
    content: "\e9cb";
}

.typcn-media-pause:before {
    content: "\e9cc";
}

.typcn-media-pause-outline:before {
    content: "\e9cd";
}

.typcn-media-fast-forward:before {
    content: "\e9ce";
}

.typcn-media-fast-forward-outline:before {
    content: "\e9cf";
}

.typcn-media-eject:before {
    content: "\e9d0";
}

.typcn-media-eject-outline:before {
    content: "\e9d1";
}

.typcn-map:before {
    content: "\e9d2";
}

.typcn-mail:before {
    content: "\e9d3";
}

.typcn-lock-open:before {
    content: "\e9d4";
}

.typcn-lock-open-outline:before {
    content: "\e9d5";
}

.typcn-lock-closed:before {
    content: "\e9d6";
}

.typcn-lock-closed-outline:before {
    content: "\e9d7";
}

.typcn-location:before {
    content: "\e9d8";
}

.typcn-location-outline:before {
    content: "\e9d9";
}

.typcn-location-arrow:before {
    content: "\e9da";
}

.typcn-location-arrow-outline:before {
    content: "\e9db";
}

.typcn-link:before {
    content: "\e9dc";
}

.typcn-link-outline:before {
    content: "\e9dd";
}

.typcn-lightbulb:before {
    content: "\e9de";
}

.typcn-leaf:before {
    content: "\e9df";
}

.typcn-keyboard:before {
    content: "\e9e0";
}

.typcn-key:before {
    content: "\e9e1";
}

.typcn-key-outline:before {
    content: "\e9e2";
}

.typcn-input-checked:before {
    content: "\e9e3";
}

.typcn-input-checked-outline:before {
    content: "\e9e4";
}

.typcn-info:before {
    content: "\e9e5";
}

.typcn-info-outline:before {
    content: "\e9e6";
}

.typcn-info-large:before {
    content: "\e9e7";
}

.typcn-info-large-outline:before {
    content: "\e9e8";
}

.typcn-nano33ble:before {
    content: "\e9e9";
}

.typcn-arduino:before {
    content: "\e9ea";
}

.typcn-infinity-outline:before {
    content: "\e9eb";
}

.typcn-image:before {
    content: "\e9ec";
}

.typcn-image-outline:before {
    content: "\e9ed";
}

.typcn-html5:before {
    content: "\e9ee";
}

.typcn-home:before {
    content: "\e9ef";
}

.typcn-home-outline:before {
    content: "\e9f0";
}

.typcn-heart:before {
    content: "\e9f1";
}

.typcn-heart-outline:before {
    content: "\e9f2";
}

.typcn-heart-half-outline:before {
    content: "\e9f3";
}

.typcn-heart-full-outline:before {
    content: "\e9f4";
}

.typcn-headphones:before {
    content: "\e9f5";
}

.typcn-group:before {
    content: "\e9f6";
}

.typcn-group-outline:before {
    content: "\e9f7";
}

.typcn-globe:before {
    content: "\e9f8";
}

.typcn-globe-outline:before {
    content: "\e9f9";
}

.typcn-gift:before {
    content: "\e9fa";
}

.typcn-folder:before {
    content: "\e9fb";
}

.typcn-folder-open:before {
    content: "\e9fc";
}

.typcn-folder-delete:before {
    content: "\e9fd";
}

.typcn-folder-add:before {
    content: "\e9fe";
}

.typcn-flow-switch:before {
    content: "\e9ff";
}

.typcn-flow-parallel:before {
    content: "\ea00";
}

.typcn-flow-merge:before {
    content: "\ea01";
}

.typcn-flow-children:before {
    content: "\ea02";
}

.typcn-flash:before {
    content: "\ea03";
}

.typcn-flash-outline:before {
    content: "\ea04";
}

.typcn-flag:before {
    content: "\ea05";
}

.typcn-flag-outline:before {
    content: "\ea06";
}

.typcn-filter:before {
    content: "\ea07";
}

.typcn-film:before {
    content: "\ea08";
}

.typcn-feather:before {
    content: "\ea09";
}

.typcn-eye:before {
    content: "\ea0a";
}

.typcn-eye-outline:before {
    content: "\ea0b";
}

.typcn-export:before {
    content: "\ea0c";
}

.typcn-export-outline:before {
    content: "\ea0d";
}

.typcn-equals:before {
    content: "\ea0e";
}

.typcn-equals-outline:before {
    content: "\ea0f";
}

.typcn-eject:before {
    content: "\ea10";
}

.typcn-eject-outline:before {
    content: "\ea11";
}

.typcn-edit:before {
    content: "\ea12";
}

.typcn-dropbox:before {
    content: "\ea13";
}

.typcn-download:before {
    content: "\ea14";
}

.typcn-download-outline:before {
    content: "\ea15";
}

.typcn-document:before {
    content: "\ea16";
}

.typcn-document-text:before {
    content: "\ea17";
}

.typcn-document-delete:before {
    content: "\ea18";
}

.typcn-document-add:before {
    content: "\ea19";
}

.typcn-divide:before {
    content: "\ea1a";
}

.typcn-divide-outline:before {
    content: "\ea1b";
}

.typcn-directions:before {
    content: "\ea1c";
}

.typcn-device-tablet:before {
    content: "\ea1d";
}

.typcn-device-phone:before {
    content: "\ea1e";
}

.typcn-device-laptop:before {
    content: "\ea1f";
}

.typcn-device-desktop:before {
    content: "\ea20";
}

.typcn-delete:before {
    content: "\ea21";
}

.typcn-delete-outline:before {
    content: "\ea22";
}

.typcn-database:before {
    content: "\ea23";
}

.typcn-css3:before {
    content: "\ea24";
}

.typcn-credit-card:before {
    content: "\ea25";
}

.typcn-contacts:before {
    content: "\ea26";
}

.typcn-compass:before {
    content: "\ea27";
}

.typcn-cog:before {
    content: "\ea28";
}

.typcn-cog-outline:before {
    content: "\ea29";
}

.typcn-coffee:before {
    content: "\ea2a";
}

.typcn-code:before {
    content: "\ea2b";
}

.typcn-code-outline:before {
    content: "\ea2c";
}

.typcn-cloud-storage:before {
    content: "\ea2d";
}

.typcn-cloud-storage-outline:before {
    content: "\ea2e";
}

.typcn-clipboard:before {
    content: "\ea2f";
}

.typcn-chevron-right:before {
    content: "\ea30";
}

.typcn-chevron-right-outline:before {
    content: "\ea31";
}

.typcn-chevron-left:before {
    content: "\ea32";
}

.typcn-chevron-left-outline:before {
    content: "\ea33";
}

.typcn-chart-pie:before {
    content: "\ea34";
}

.typcn-chart-pie-outline:before {
    content: "\ea35";
}

.typcn-chart-line:before {
    content: "\ea36";
}

.typcn-chart-line-outline:before {
    content: "\ea37";
}

.typcn-chart-bar:before {
    content: "\ea38";
}

.typcn-chart-bar-outline:before {
    content: "\ea39";
}

.typcn-chart-area:before {
    content: "\ea3a";
}

.typcn-chart-area-outline:before {
    content: "\ea3b";
}

.typcn-cancel:before {
    content: "\ea3c";
}

.typcn-cancel-outline:before {
    content: "\ea3d";
}

.typcn-camera:before {
    content: "\ea3e";
}

.typcn-camera-outline:before {
    content: "\ea3f";
}

.typcn-calendar:before {
    content: "\ea40";
}

.typcn-calendar-outline:before {
    content: "\ea41";
}

.typcn-calculator:before {
    content: "\ea42";
}

.typcn-business-card:before {
    content: "\ea43";
}

.typcn-brush:before {
    content: "\ea44";
}

.typcn-briefcase:before {
    content: "\ea45";
}

.typcn-bookmark:before {
    content: "\ea46";
}

.typcn-book:before {
    content: "\ea47";
}

.typcn-bell:before {
    content: "\ea48";
}

.typcn-beer:before {
    content: "\ea49";
}

.typcn-beaker:before {
    content: "\ea4a";
}

.typcn-battery-mid:before {
    content: "\ea4b";
}

.typcn-battery-low:before {
    content: "\ea4c";
}

.typcn-battery-high:before {
    content: "\ea4d";
}

.typcn-battery-full:before {
    content: "\ea4e";
}

.typcn-battery-charge:before {
    content: "\ea4f";
}

.typcn-backspace:before {
    content: "\ea50";
}

.typcn-backspace-outline:before {
    content: "\ea51";
}

.typcn-attachment:before {
    content: "\ea52";
}

.typcn-attachment-outline:before {
    content: "\ea53";
}

.typcn-at:before {
    content: "\ea54";
}

.typcn-arrow-up:before {
    content: "\ea55";
}

.typcn-arrow-up-thick:before {
    content: "\ea56";
}

.typcn-arrow-up-outline:before {
    content: "\ea57";
}

.typcn-arrow-unsorted:before {
    content: "\ea58";
}

.typcn-arrow-sync:before {
    content: "\ea59";
}

.typcn-arrow-sync-outline:before {
    content: "\ea5a";
}

.typcn-arrow-sorted-up:before {
    content: "\ea5b";
}

.typcn-arrow-sorted-down:before {
    content: "\ea5c";
}

.typcn-arrow-shuffle:before {
    content: "\ea5d";
}

.typcn-arrow-right:before {
    content: "\ea5e";
}

.typcn-arrow-right-thick:before {
    content: "\ea5f";
}

.typcn-arrow-right-outline:before {
    content: "\ea60";
}

.typcn-arrow-repeat:before {
    content: "\ea61";
}

.typcn-arrow-repeat-outline:before {
    content: "\ea62";
}

.typcn-arrow-move:before {
    content: "\ea63";
}

.typcn-arrow-move-outline:before {
    content: "\ea64";
}

.typcn-arrow-minimise:before {
    content: "\ea65";
}

.typcn-arrow-minimise-outline:before {
    content: "\ea66";
}

.typcn-arrow-maximise:before {
    content: "\ea67";
}

.typcn-arrow-maximise-outline:before {
    content: "\ea68";
}

.typcn-arrow-loop:before {
    content: "\ea69";
}

.typcn-arrow-loop-outline:before {
    content: "\ea6a";
}

.typcn-arrow-left:before {
    content: "\ea6b";
}

.typcn-arrow-left-thick:before {
    content: "\ea6c";
}

.typcn-arrow-left-outline:before {
    content: "\ea6d";
}

.typcn-arrow-forward:before {
    content: "\ea6e";
}

.typcn-arrow-forward-outline:before {
    content: "\ea6f";
}

.typcn-arrow-down:before {
    content: "\ea70";
}

.typcn-arrow-down-thick:before {
    content: "\ea71";
}

.typcn-arrow-down-outline:before {
    content: "\ea72";
}

.typcn-arrow-back:before {
    content: "\ea73";
}

.typcn-arrow-back-outline:before {
    content: "\ea74";
}

.typcn-archive:before {
    content: "\ea75";
}

.typcn-anchor:before {
    content: "\ea76";
}

.typcn-anchor-outline:before {
    content: "\ea77";
}

.typcn-adjust-contrast:before {
    content: "\ea78";
}

.typcn-adjust-brightness:before {
    content: "\ea79";
}

.typcn-tinkerbots:before {
    content: "\ea7a";
}

.typcn-ev3:before {
    content: "\ea7b";
}

.typcn-microbitv2:before {
    content: "\ea7c";
}

.typcn-microbit:before {
    content: "\ea7d";
}

.typcn-calliope:before {
    content: "\ea7e";
}

.typcn-mbot2:before {
    content: "\ea7f";
}

.typcn-media-cancel:before {
    content: "\ea80";
}

.typcn-festobionicflower:before {
    content: "\ea81";
}

.typcn-xNN:before {
    content: "\ea82";
}

.typcn-Rob3rta:before {
    content: "\ea83";
}

.typcn-mbot:before {
    content: "\ea84";
}

.typcn-robotino:before {
    content: "\ea85";
}

.typcn-thymio:before {
    content: "\ea86";
}

.typcn-15:before {
    content: "\ea87";
}

.typcn-2:before {
    content: "\ea88";
}

.typcn-1:before {
    content: "\ea89";
}

.typcn-0:before {
    content: "\ea8a";
}

.typcn-spike:before {
    content: "\ea8b";
}

.typcn-joycar:before {
    content: "\ea8c";
}