footer {
    border-top: rem(1px) solid rgba($black,.2);
    // padding-top: rem(40px);
    padding-bottom: rem(96px); //40+96px from Header
    width: 100%;
    p,
    .nav-link  {
        font-size: rem(14px);
        line-height: rem(20px);
    }
    .nav-item {
        background: none;
        &:hover {
            background: none;
        }
    }
    .nav-link {
        padding: rem(5px 0);
        color: $gray-600;
    }
}