/*************************************
***** Filter ***** 
*************************************/

.reposition-relative {
    position: relative;
}

#all-systems-tab-pane {
    .reposition-absolute {
        position: absolute;
        top: rem(-10px);
        right: rem(60px);
    }
    span#results {
        margin-right: rem(10px);
    }
}

/*************************************
***** Override Bootstrap ***** 
*************************************/

.dropdown {
    &-menu {
        border-color: $primary;
        .form-check {
            display: flex;
            align-items: center;
            label {
                margin-left: rem(10px);
                color: $black;
            }        
        }    
    }
    &-item {
        &:hover,
        &:focus,
        &:active {
            background: none;
        }
    }
    &-toggle {
        &.show {
            &::after {
                transform: rotate(180deg);
            }
        }
    }
}

.teaser-system {
    display: flex;
    flex-direction: column;
    height: 100%;
    // margin-bottom: 50px;
    background: $white;
    padding: rem(20px);
    border-radius: $border-radius--standard;
    position: relative;
    box-shadow: rem(0 20px 50px) rgba($black,0);
    @extend .transition;
    &--image {
        padding: rem(20px 80px);
    }
    &--body {
        margin-bottom: rem(60px);
    }
    &--header {
        position: absolute;
        top: 0;
        left: 0;
        background: $primary;
        color: $white;
        padding: rem(5px 10px);
        @extend .font-size--xs;
        border-radius: rem(5px 0 5px 0);
        &---new {
            background: $secondary;
            color: $primary;
        }
    }
    &--link {
        background-color: $primary;
        color: $white;
        text-decoration: none;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: rem(5px 0 5px 0);
        @extend .font-size--md;
        padding: rem(10px 50px 10px 15px);
        background-image: svg-icon-arrow($white);
        background-repeat: no-repeat;
        background-position: center right rem(20px);
        @extend .transition;
        @media (hover: hover) {
            &:hover {
                background-position: center right rem(15px);
            }
        }
    }
    @media (hover: hover) {
        &:hover {
            box-shadow: rem(0 20px 50px) rgba($black,.05);
        }
    }	
}