.teaser-news {
    display: flex;
    background: $gray-200;
    padding: rem(40px);
    border-radius: $border-radius--standard;
    &--image {
        width: 30%;
        mix-blend-mode: multiply;
    }
    &--wrapper {
        width: 50%;
    }
    &--header {
        font-weight: $bold;
        @extend .font-size--md;
        margin-bottom: rem(10px);
    }
    &--body {
        h3 {
            color: $primary;
        }
    }
    &--link {
    }
}