#nn, #nn-learn {
    width: 100%;
    height: 100%;
}

#nn .nn-middle-size {
    font-size: 20px;
}

#nn .nn-bold, #nn-learn .nn-bold {
    font-weight: bold;
}

#nn .nn-large-size {
    font-size: 28px;
}

#nn-top-controls {
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 16px 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    background: white;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

#nn-learn-top-controls {
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 16px 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    background: white;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

#nn-top-controls .nn-control, #nn-learn-top-controls .nn-control {
    flex-grow: 0;
    margin-left: 10px;
    margin-top: 6px;
}

#nn-show-math-all.nn-control {
    flex: 0 0 25%;
    margin-right: 10px;
}

#nn-show-next-neuron-all.nn-control, #nn-show-iteration-all.nn-control, #nn-learn-show-iteration-all.nn-control {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

#nn-learn-show-activation {
    width: 100px;
    padding: 8px;
}

#nn-top-controls .nn-control .label {
    color: #777;
    font-size: 13px;
    display: block;
    margin-bottom: 6px;
    font-weight: 300;
}

#nn-top-controls .nn-control .value {
    font-size: 24px;
    margin: 0;
    font-weight: 300;
}

#nn-top-controls .nn-control .select {
    position: relative;
}

.nn-input-div {
    position: relative;
    height: 36px;
}

.nn-explore-btns, .nn-learn-btns {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 9999;
    display: flex;
}

.nn-explore-btn {
    min-height: 48px;
    max-width: 48px;
    min-width: 48px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 0;
    margin: 0;
    background: white;
}

.nn-explore-btn > span, .nn-learn-btn > span {
    font-size: 36px;
}

.nn-explore-btn:hover, .nn-learn-btn:hover {
    background-color: #BACC1E;
}

#goto-sim, #learn-goto-sim {
    position: absolute;
    min-height: 48px;
    max-width: 48px;
    min-width: 48px;
    right: 10px;
    bottom: 10px;
    font-size: 36px;
    background-color: #ffffff;
    color: #333333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 2px 0 0 0;
    margin: 0;
    z-index: 9999;
}

#goto-sim:hover, #learn-goto-sim:hover {
    background-color: #BACC1E;
}

.nn-selection {
    min-height: 36px;
    border: none;
    border-radius: 2px;
    background-color: #23b6ac;
    color: #ffffff;
    padding: 6px;
}

#nn-show-math {
    background-color: #f0f0f0;
    min-height: 36px;
    padding: 6px;
    border-radius: 2px;
}

#nn-show-next-neuron, #nn-show-iteration, #nn-learn-show-iteration {
    color: rgba(0, 0, 0, 0.6);
    background-color: #f0f0f0;
    font-weight: 300;
    text-align: center;
}

#nn-main-part, #nn-learn-main-part {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-top: 2px;
    position: relative;
}

#nn-main-part .output .mdl-checkbox__label.label, #nn-learn-main-part .output .mdl-checkbox__label.label {
    line-height: 1.7em;
}

#nn-features, #nn-learn-features {
    width: 10%;
    position: relative;
}

#nn-features .nn-plus-minus-neurons {
    position: absolute;
    line-height: 28px;
    top: -58px;
    width: 120px;
    height: 44px;
}

.nn-modal-content {
    border: 1px solid;
}

.nn-popup-modal {
    position: fixed;
    display: none;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    max-width: 90%;
    z-index: 1;
}

.nn-modal-dialog {
    width: auto;
}

button.nn-btn {
    background-color: #23b6ac;
    width: 36px;
    height: 36px;
    border-radius: 2px;
    padding: 0;
    font-size: 20px;
    margin-right: inherit;
    border: none;
    color: #ffffff;
}

.nn-btn.nn-top-control-button {
    width: 27px;
    height: 27px;
}

.nn-btn.nn-cancel {
    background-color: #CD5C5C;
}

.nn-btn.nn-cancel:hover {
    background-color: #E8C0C0;
}

#nn-features .nn-plus-minus-neuron-button.active-input {
    background-color: #BACC1E;
    box-shadow: inset 0 0 2px 2px black;
}

#nn-features .nn-plus-minus-neuron-button.active-hidden {
    background-color: #c7b7b7;
    box-shadow: inset 0 0 2px 2px black;
}

#nn-features .nn-plus-minus-neuron-button.active-output {
    background-color: #f29400;
    box-shadow: inset 0 0 2px 2px black;
}

#nn-training-data-upload, #nn-test-data-upload {
    display: none;
}

.nn-popup-modal > .modal-backdrop {
    background-color: transparent;
}

.nn-table-input {
    width: 100px;
}

.nn-user-input-table-header {
    display: inline-block;
    width: 100%;
}

.nn-input-background-color {
    background: #8fa40266;
}

.nn-output-background-color {
    background: #f2940066;
}

button.nn-btn:hover {
    background-color: #ade7e4;
}

.nn-selection option {
    background-color: #ffffff;
    color: #333333;
}

#nn-top-controls .nn-num-layers-group {
    font-weight: bold;
}

#nn-features .nn-plus-minus-neurons .nn-plus-minus-neuron-button {
    margin-right: 4px;
}

#nn-features .nn-plus-minus-neurons .nn-plus-minus-neuron-button {
    margin-right: 4px;
}

#nn-features svg .main-label, #nn-learn-features svg .main-label {
    font-size: 13px;
    fill: #333;
    font-weight: 300;
}

#nn-features .nn-showval, #nn-learn-features .nn-showval {
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-anchor: start;
    cursor: pointer;
}

#nn-features svg #markerArrow, #nn-learn-features svg #markerArrow {
    fill: black;
    stroke: black;
    stroke-opacity: 0.2;
}

#nn-features .node_input rect, #nn-learn-features .node_input rect {
    cursor: default;
    fill: rgb(143, 164, 2);
}

#nn-features .node_hidden rect, #nn-learn-features .node_hidden rect {
    cursor: default;
    fill: lightgrey;
}

#nn-features .node_output rect, #nn-learn-features .node_output rect {
    cursor: default;
    fill: rgb(242, 148, 0);
}

#nn-features .core .link, #nn-learn-features .core .link {
    stroke-dasharray: 9 1;
    stroke-dashoffset: 1;
    /* webkit-animation: 0.5s linear 0s infinite flowing; */
}

/** Invisible thick links used for showing weight values on mouse click. */
#nn-features .core .nn-weight-click {
    stroke-width: 14;
    stroke: black;
    fill: none;
    opacity: 0;
    cursor: pointer;
}

.nn-input {
    position: relative;
    border: 2px solid #23b6ac;
    height: 100%;
    top: -4px;
}

#nn-learn-features .core .nn-weight-click {
    stroke-width: 14;
    stroke: black;
    fill: none;
    opacity: 0;
    cursor: pointer;
}

#nn-features .core .nn-weight-show-click {
    stroke-width: 14;
    stroke: gray;
    fill: none;
    opacity: 0.3;
    cursor: pointer;
}

#nn-learn-features .core .nn-weight-show-click {
    stroke-width: 14;
    stroke: gray;
    fill: none;
    opacity: 0.3;
    cursor: pointer;
}

.nn-bias-click {
    cursor: pointer;
}

#nn-features .canvas canvas, #nn-learn-features .canvas canvas {
    position: absolute;
    top: -2px;
    left: -2px;
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#nn-network {
    position: absolute;
    top: 50px;
    left: 0;
}

#nn-editCard {
    display: none;
    position: absolute;
    padding: 5px;
    border: 1px solid #aaa;
    z-index: 10;
    background: #fff;
    cursor: default;
    border-radius: 5px;
    left: 240px;
}

#nn-learn-training-bias-linechart, #nn-learn-training-weight-linechart {
    display: none;
    position: absolute;
    width: 200px;
    height: 65px;
    border: 1px solid #aaa;
    z-index: 10;
    background: #fff;
    cursor: default;
}

#nn-nameCard {
    display: none;
    position: absolute;
    padding: 5px;
    border: 1px solid #aaa;
    z-index: 10;
    background: #fff;
    cursor: default;
    border-radius: 5px;
    left: 240px;
}

#nn-name-message {
    border: 12px 4px 4px 4px;
    background: #fff;
    color: #333;
}

#nn-table-user-input input {
    width: 100px;
}

.nn-type-button {
    position: relative;
    top: 5px;
}

.nn-btn.nn-finish-button {
    position: relative;
    left: -4px;
}

.nn-metrics {
    position: relative;
    font-weight: 300;
    height: 60px;
    margin-right: 10px;
    display: flex;
    flex-basis: 30%;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
}

#nn-learn-training-loss-linechart {
    width: 60%;
    height: 100%;
    border: 1px solid #0009;
}

.nn-output-stats {
    padding: 10px;
}

#nn-epoch-num {
    width: 80px;
}

#nn-random-values-from-to {
    position: relative;
    height: 36px;
}

#nn-random-values-from-to > input {
    width: 50px;
}

#nn-random-values-from-to > span {
    position: relative;
    top: -4px;
}

#nn-random-values-from-to > .nn-random-values-finished-button {
    position: relative;
    padding-left: 5px;
    top: 0;
}

.nn-output-stats .value {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 300;
    text-align: center;
}

.nn-type {
    height: 40px;
    style: "font-size: 14px"
}

canvas {
    display: block;
}

.link {
    fill: none;
    stroke: #aaa;
    stroke-width: 1;
}

g.column rect {
    stroke: none;
}

@-webkit-keyframes flowing {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: -10;
    }
}
