@charset "UTF-8";

html, body {
    margin: 0px !important;
    padding: 0px !important;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 0px;
    text-transform: uppercase;
}

#head-section {
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 0px 3px 5px #aeaeaf;
    -webkit-box-shadow: 0px 3px 5px #aeaeaf;
    z-index: 100;
}

ul#head-navigation {
    float: left;
    list-style-type: none;
    padding: 0px;
    margin: 5px 0px 0px 20px;
}

ul#head-navigation > li {
    float: left;
    margin-right: 20px;
    padding-bottom: 9px;
    padding-top: 6px;
    padding-left: 9px;
}

ul#head-navigation .head-navigation-submenu {
	position: absolute;
	width: 8%;
    list-style-type: none;
    cursor: pointer;
}

ul#head-navigation .head-navigation-submenu > li {
	background-color: white;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 70%;
}

ul#head-navigation .head-navigation-submenu > li:hover {
    background-color: #e6e6e6;
}

ul#head-navigation a {
    text-decoration: none;
    color: #333333;
    text-align: center;
    display: block;
    float: left;
}

.head-navi-icons {
    height: 32px;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
}

.head-navi-icons.help {
    background-image: url(img/head-navi-icons/help_active.png);
    width: 23px;
}

.head-navi-icons.settings {
    background-image: url(img/head-navi-icons/settings_active.png);
    width: 24px;
}

.head-navi-icons.community {
    background-image: url(img/head-navi-icons/community_active.png);
    width: 34px;
}

.head-navi-icons.project {
    background-image: url(img/head-navi-icons/project_active.png);
    width: 22px;
}

.head-navi-icons.developer {
    background-image: url(img/head-navi-icons/developer_active.png);
    width: 22px;
}

.head-navi-icons.user {
    background-image: url(img/head-navi-icons/user_active.png);
    width: 34px;
}

.head-navi-text {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

#head-navigation .state {
    float: right;
    padding-top: 7px;
    padding-right: 50px;
    font-size: x-small;
}

#head-navigation #logo {
    width: 222px;
    height: 60px;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    float: right;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
	opacity: 1.0;
	color: lightgrey;
}

#main-section {
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 60px;
    z-index: 99;
    background: #ffffff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #e6e6e6 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#e6e6e6 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#e6e6e6 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #ffffff 0%,#e6e6e6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    /* CANT HANDLE THE OVERFLOW, SO ITS SET TO HIDDEN TEMPORARY */
    overflow: hidden;
}

.submit#run {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 95px;
    background-image: url(img/button_start.png);
    width: 87px;
    height: 28px;
    border-style: none;
    background-color: transparent;
    text-indent: 480px;
    cursor: pointer;
}

.submit#run:hover {
    background-image: url(img/button_start_hover.png);    
}

/* ### Welcome-Screen ############################################################ */

#welcome-screen {
    position: relative;
    height: 100%;
    widows: 100%;
}

#bricks-shell {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 600px;
    margin: -300px;
}

.bricks {
    position: absolute;
	display: block;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.bricks span {
    position: absolute;
}

.bricks#welcome-brick1 span {
    bottom: 5px;
    right: 40px;
}

.bricks#welcome-brick2 span {
    bottom: 35px;
    left: 10px;
}

.bricks#welcome-brick3 span {
    top: 35px;
    right: 10px;
}

.bricks#welcome-brick4 span {
    top: 5px;
    left: 40px;
}

#welcome-brick1 {
    width: 321px;
    height: 293px;
    background-image: url(img/welcome-screen/brick1.png);
    top: 0;
    left: 0;
}

#welcome-brick1:hover {
    background-image: url(img/welcome-screen/brick1_active.png);
}

#welcome-brick2 {
    width: 293px;
    height: 321px;
    background-image: url(img/welcome-screen/brick2.png);
    right: 0;
    top: 0;
}

#welcome-brick2:hover {
    background-image: url(img/welcome-screen/brick2_active.png);
}

#welcome-brick3 {
    width: 293px;
    height: 321px;
    background-image: url(img/welcome-screen/brick3.png);
    bottom: 0;
    left: 0;
}
#welcome-brick3:hover {
    background-image: url(img/welcome-screen/brick3_active.png);
}

#welcome-brick4 {
    width: 321px;
    height: 293px;
    background-image: url(img/welcome-screen/brick4.png);
    bottom: 0;
    right: 0;
}

#welcome-brick4:hover {
    background-image: url(img/welcome-screen/brick4_active.png);
}

/* ### Popup Input Fields ############################################################ */

#login-user input,
.program input,
#register-user input,
#delete-user input,
#set-token input {
    padding: 7px 8px 7px 32px;
    border: 1px solid #afca04;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 15px;
    color: #c7c7c7;
    font-size: 14px;
    text-align: left;
}

#login-user input#accountNameS,
#register-user input#accountName,
#delete-user input#accountNameD {
    background-image: url(img/login_user-icon.png);
}

#login-user input#accountNameS:active,
#login-user input#accountNameS:focus,
#register-user input#accountName:active,
#register-user input#accountName:focus,
#delete-user input#accountNameD:active,
#delete-user input#accountNameD:focus {
    background-image: url(img/login_user-icon_active.png);
    color: #333333;
}

#login-user input#pass1S,
#register-user input#pass1,
#register-user input#pass2,
#set-token input#tokenValue {
    background-image: url(img/login_pw-icon.png);
}

#login-user input#pass1S:active,
#login-user input#pass1S:focus,
#register-user input#pass1:active,
#register-user input#pass1:focus,
#register-user input#pass2:active,
#register-user input#pass2:focus,
#set-token input#tokenValue:active,
#set-token input#tokenValue:focus {
    background-image: url(img/login_pw-icon_active.png);
    color: #333333;
}

#register-user input#userName {
    background-image: url(img/login_name-icon.png);
}

#register-user input#userName:active,
#register-user input#userName:focus {
    background-image: url(img/login_name-icon_active.png);
    color: #333333;
}

#register-user input#userEmail {
    background-image: url(img/login_email-icon.png);
}

#register-user input#userEmail:active,
#register-user input#userEmail:focus {
    background-image: url(img/login_email-icon_active.png);
    color: #333333;
}

.program input.programName {
    background-image: url(img/program_name-icon.png);
    box-sizing: border-box;
}

.program input.programName:active,
.program input.programName:focus {
	background-image: url(img/program_name-icon_active.png);
    color: #333333;
}

#login-user .submit,
.program .submit,
#register-user .submit,
#delete-user .submit,
#set-token .submit {
	padding: 7px 9px;
    border: none;
    font-size: 16px;
    border-radius: 3px;
    color: white;
    background-color: #afca04;
    cursor: pointer;
}

#login-user .submit:hover,
.program .submit:hover,
#register-user .submit:hover,
#delete-user .submit:hover,
#set-token .submit:hover {
    background-color: #b7d032;
}

/* ### Tutorials ############################################################ */

#next-tutorial {
    position: absolute;
    margin-top: 225px;
    background-image: url(img/button_next.png);
    width: 178px;
    height: 50px;
    padding-top: 7px;
    padding-left: 15px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    color: white;
}

#next-tutorial:hover {
    background-image: url(img/button_next_hover.png);  
}

#action-menu {
    position: absolute;
    bottom: 0;
    left: 150px;
    opacity: 0.5;
}

#action-menu:hover {
    opacity: 1;
}

#action-menu input {
    font-size: 12px !important;
    font-family: 'Open Sans', sans-serif;
}


/* ### Feedback to Jira button ################################################## */
#atlwdg-trigger {
	z-index: 100;
}

/* ### jQuery Popups ############################################################ */

.jquerypopup {
    font-family: 'Roboto', sans-serif;
}

.jquerypopup label {
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.jquerypopup input {
    background-repeat: no-repeat;
    background-position: center left;
}

.jquerypopup .input {
	width: 140%;
}

.jquerypopup a {
    font-size: 14px;
    color: #333333;
}

.jquerypopup a:hover {
    color: #afca04;
}

.jquerypopup.ui-dialog {
    background-color: white;
}

.jquerypopup button.ui-button-icon-only {
    width: 32px;
}

.jquerypopup.ui-dialog {
    position: absolute !important;
    top: 0;
    left: 0;
    padding: 30px !important;
    outline: 0;
    box-shadow: 0 0 15px #9f9e9e;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
}

.jquerypopup.ui-front {
    z-index: 100;
}

.jquerypopup.ui-dialog .ui-dialog-title {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}

.jquerypopup.ui-dialog .ui-dialog-titlebar {
    padding: 0px;
    position: relative;
}

.jquerypopup.ui-dialog .ui-dialog-titlebar-close,
.jquerypopup.ui-dialog .ui-dialog-titlebar-close.ui-state-focus {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: -46px;
    margin-top: -46px;
    width: 32px;
    height: 32px;
    background-color: none !important;
    border: none !important;
    background-image: url(img/close-icon.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.jquerypopup.ui-dialog .ui-dialog-titlebar-close:hover {
    background-image: url(img/close-icon_hover.png);
    background-color: none !important;
}

.jquerypopup.ui-dialog .ui-dialog-titlebar-close.ui-state-hover,
.jquerypopup.ui-dialog .ui-dialog-titlebar-close.ui-state-focus {
    background: none;
    background-image: url(img/close-icon_hover.png);
    background-repeat: no-repeat;
    outline: 0;
}

.jquerypopup.ui-dialog .ui-dialog-titlebar-close .ui-button-text {
    display: none;
}

.jquerypopup.ui-widget-content {
    border: 2px solid #999999;
    color: #333333;
}

.jquerypopup .ui-widget-header {
	border: none;
    background: white;
    color: #333333;
    font-weight: bold;
    margin-bottom: 20px;
}

.jquerypopup .ui-state-default,
.jquerypopup .ui-widget-content .ui-state-default,
.jquerypopup .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    font-weight: normal;
    color: #555555;
}

/* ### jQuery Datatables ############################################################ */

.dataTables_wrapper{
    font-family: "roboto";
    font-size: 0.9em;
	cursor: default;
}

table.dataTable {
    margin-bottom: 10px;
}

.dataTables_length, .dataTables_info {
    color: #666 !important;
    font-size: 0.8em;
	clear: none;
	float:none;
	display: inline;
}

.fg-button.ui-button.ui-state-default {
    border-radius: 5px;
    margin: 4px;
    padding: 2px 5px;
}

.fg-button.ui-button.ui-state-default:hover {
    background-color: #8fa402;
    border: 1px solid #8fa402;
    color: #fff;
}

.programs {
    color: #33b8ca;
}

/* ############################################################### */

.ui-widget-content {
    background: transparent;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
	display: block;
	float: left;
}

#blocklyDiv {
    background-color: none;
    background-image: url(img/grid-pattern-background.png);
    background-repeat: repeat;
    height: 100%;
    min-height: 100%;
}

.ui-tabs .ui-tabs-nav {
    opacity: 0.5;
    position: absolute;
    margin-left: 350px;
    margin-top: 5px;
    font-size: 12px !important;
    z-index: 99999;
	padding: 0 0;
}

.ui-tabs .ui-tabs-nav:hover {
    opacity: 1 !important;
}

.ui-tabs .ui-tabs-panel {
	padding: 0 0;
	overflow: auto;
}

.ui-state-default,
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background-color: none !important;
}

.ui-widget-header {
	padding-bottom: 30px;
	background-color: white;
}

.input {
	color: red;
	background-color: #aaeeaa;
	width: 5cm;
	border: thick;
}

.blockly {
	width: 100%;
    height: 60%;
}

.rightGray {
    float: right;
    width: 2.0cm;
    text-align: center;
    color: gray;
}

.selected {
    background-color: yellow;
}

.counter {
	color: #bbbbbb;
	background-color: #eeeeee;
	width: 15mm;
	text-align: center;
	font-size: smaller;
	float: left;
}

.button {
	width: 160pt;
}

.log {
	background-color: #f0f0f0;
	font-size: small;
	overflow: auto;
	height: 10cm;
}

.log0 {
	background-color: #FFFFDD;
}

.log1 {
	background-color: #DDFFFF;
}

.lERR {
	background-color: #FF3333;
}

.hidden {
	display: none;
}
