@font-face {
  font-family: 'typicons';
  src:  url('fonts/typicons.eot?g3yvnx');
  src:  url('fonts/typicons.eot?g3yvnx#iefix') format('embedded-opentype'),
    url('fonts/typicons.ttf?g3yvnx') format('truetype'),
    url('fonts/typicons.woff?g3yvnx') format('woff'),
    url('fonts/typicons.svg?g3yvnx#typicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.typcn:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'typicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.typcn-nano33ble:before {
  content: "\e9dc";
}
.typcn-menu_dots:before {
  content: "\e600";
}
.typcn-step:before {
  content: "\e601";
}
.typcn-Roberta:before {
  content: "\e603";
}
.typcn-debug:before {
  content: "\e900";
}
.typcn-box:before {
  content: "\e901";
}
.typcn-blockly-trashcan:before {
  content: "\e902";
}
.typcn-feedback:before {
  content: "\e903";
}
.typcn-festobionic:before {
  content: "\e904";
}
.typcn-section:before {
  content: "\e905";
}
.typcn-sensebox:before {
  content: "\e906";
}
.typcn-wedo:before {
  content: "\e907";
}
.typcn-edison:before {
  content: "\e908";
}
.typcn-bob3:before {
  content: "\e909";
}
.typcn-nao:before {
  content: "\e90a";
}
.typcn-open:before {
  content: "\e90b";
}
.typcn-questionmark:before {
  content: "\e90c";
}
.typcn-simulation:before {
  content: "\e90d";
}
.typcn-variable:before {
  content: "\e90e";
}
.typcn-led:before {
  content: "\e90f";
}
.typcn-sensor:before {
  content: "\e910";
}
.typcn-loop:before {
  content: "\e911";
}
.typcn-math:before {
  content: "\e912";
}
.typcn-logic:before {
  content: "\e913";
}
.typcn-steering_wheel:before {
  content: "\e914";
}
.typcn-move:before {
  content: "\e915";
}
.typcn-action:before {
  content: "\e916";
}
.typcn-walk:before {
  content: "\e917";
}
.typcn-botnroll:before {
  content: "\e918";
}
.typcn-microduino:before {
  content: "\e919";
}
.typcn-wait:before {
  content: "\e91a";
}
.typcn-zoom:before {
  content: "\e91b";
}
.typcn-zoom-out:before {
  content: "\e91c";
}
.typcn-zoom-out-outline:before {
  content: "\e91d";
}
.typcn-zoom-in:before {
  content: "\e91e";
}
.typcn-zoom-in-outline:before {
  content: "\e91f";
}
.typcn-world:before {
  content: "\e920";
}
.typcn-nxt:before {
  content: "\e921";
}
.typcn-world-outline:before {
  content: "\e922";
}
.typcn-zoom-outline:before {
  content: "\e923";
}
.typcn-wine:before {
  content: "\e924";
}
.typcn-wi-fi:before {
  content: "\e925";
}
.typcn-wi-fi-outline:before {
  content: "\e926";
}
.typcn-weather-windy:before {
  content: "\e927";
}
.typcn-weather-windy-cloudy:before {
  content: "\e928";
}
.typcn-weather-sunny:before {
  content: "\e929";
}
.typcn-weather-stormy:before {
  content: "\e92a";
}
.typcn-weather-snow:before {
  content: "\e92b";
}
.typcn-weather-shower:before {
  content: "\e92c";
}
.typcn-weather-partly-sunny:before {
  content: "\e92d";
}
.typcn-weather-night:before {
  content: "\e92e";
}
.typcn-weather-downpour:before {
  content: "\e92f";
}
.typcn-weather-cloudy:before {
  content: "\e930";
}
.typcn-waves:before {
  content: "\e931";
}
.typcn-waves-outline:before {
  content: "\e932";
}
.typcn-watch:before {
  content: "\e933";
}
.typcn-warning:before {
  content: "\e934";
}
.typcn-warning-outline:before {
  content: "\e935";
}
.typcn-volume:before {
  content: "\e936";
}
.typcn-volume-up:before {
  content: "\e937";
}
.typcn-volume-mute:before {
  content: "\e938";
}
.typcn-volume-down:before {
  content: "\e939";
}
.typcn-video:before {
  content: "\e93a";
}
.typcn-video-outline:before {
  content: "\e93b";
}
.typcn-vendor-microsoft:before {
  content: "\e93c";
}
.typcn-vendor-apple:before {
  content: "\e93d";
}
.typcn-vendor-android:before {
  content: "\e93e";
}
.typcn-user:before {
  content: "\e93f";
}
.typcn-user-outline:before {
  content: "\e940";
}
.typcn-user-delete:before {
  content: "\e941";
}
.typcn-user-delete-outline:before {
  content: "\e942";
}
.typcn-user-add:before {
  content: "\e943";
}
.typcn-user-add-outline:before {
  content: "\e944";
}
.typcn-upload:before {
  content: "\e945";
}
.typcn-upload-outline:before {
  content: "\e946";
}
.typcn-tree:before {
  content: "\e947";
}
.typcn-trash:before {
  content: "\e948";
}
.typcn-times:before {
  content: "\e949";
}
.typcn-times-outline:before {
  content: "\e94a";
}
.typcn-time:before {
  content: "\e94b";
}
.typcn-ticket:before {
  content: "\e94c";
}
.typcn-tick:before {
  content: "\e94d";
}
.typcn-tick-outline:before {
  content: "\e94e";
}
.typcn-thumbs-up:before {
  content: "\e94f";
}
.typcn-thumbs-ok:before {
  content: "\e950";
}
.typcn-thumbs-down:before {
  content: "\e951";
}
.typcn-thermometer:before {
  content: "\e952";
}
.typcn-th-small:before {
  content: "\e953";
}
.typcn-th-small-outline:before {
  content: "\e954";
}
.typcn-th-menu:before {
  content: "\e955";
}
.typcn-th-menu-outline:before {
  content: "\e956";
}
.typcn-th-list:before {
  content: "\e957";
}
.typcn-th-list-outline:before {
  content: "\e958";
}
.typcn-th-large:before {
  content: "\e959";
}
.typcn-th-large-outline:before {
  content: "\e95a";
}
.typcn-tags:before {
  content: "\e95b";
}
.typcn-tag:before {
  content: "\e95c";
}
.typcn-tabs-outline:before {
  content: "\e95d";
}
.typcn-support:before {
  content: "\e95e";
}
.typcn-stopwatch:before {
  content: "\e95f";
}
.typcn-starburst:before {
  content: "\e960";
}
.typcn-starburst-outline:before {
  content: "\e961";
}
.typcn-star:before {
  content: "\e962";
}
.typcn-star-outline:before {
  content: "\e963";
}
.typcn-star-half:before {
  content: "\e964";
}
.typcn-star-half-outline:before {
  content: "\e965";
}
.typcn-star-full-outline:before {
  content: "\e966";
}
.typcn-spiral:before {
  content: "\e967";
}
.typcn-spanner:before {
  content: "\e968";
}
.typcn-spanner-outline:before {
  content: "\e969";
}
.typcn-sort-numerically:before {
  content: "\e96a";
}
.typcn-sort-numerically-outline:before {
  content: "\e96b";
}
.typcn-sort-alphabetically:before {
  content: "\e96c";
}
.typcn-sort-alphabetically-outline:before {
  content: "\e96d";
}
.typcn-social-youtube:before {
  content: "\e96e";
}
.typcn-social-youtube-circular:before {
  content: "\e96f";
}
.typcn-social-vimeo:before {
  content: "\e970";
}
.typcn-social-vimeo-circular:before {
  content: "\e971";
}
.typcn-social-twitter:before {
  content: "\e972";
}
.typcn-social-twitter-circular:before {
  content: "\e973";
}
.typcn-social-tumbler:before {
  content: "\e974";
}
.typcn-social-tumbler-circular:before {
  content: "\e975";
}
.typcn-social-skype:before {
  content: "\e976";
}
.typcn-social-skype-outline:before {
  content: "\e977";
}
.typcn-social-pinterest:before {
  content: "\e978";
}
.typcn-social-pinterest-circular:before {
  content: "\e979";
}
.typcn-social-linkedin:before {
  content: "\e97a";
}
.typcn-social-linkedin-circular:before {
  content: "\e97b";
}
.typcn-social-last-fm:before {
  content: "\e97c";
}
.typcn-social-last-fm-circular:before {
  content: "\e97d";
}
.typcn-social-instagram:before {
  content: "\e97e";
}
.typcn-social-instagram-circular:before {
  content: "\e97f";
}
.typcn-social-google-plus:before {
  content: "\e980";
}
.typcn-social-google-plus-circular:before {
  content: "\e981";
}
.typcn-social-github:before {
  content: "\e982";
}
.typcn-social-github-circular:before {
  content: "\e983";
}
.typcn-social-flickr:before {
  content: "\e984";
}
.typcn-social-flickr-circular:before {
  content: "\e985";
}
.typcn-social-facebook:before {
  content: "\e986";
}
.typcn-social-facebook-circular:before {
  content: "\e987";
}
.typcn-social-dribbble:before {
  content: "\e988";
}
.typcn-social-dribbble-circular:before {
  content: "\e989";
}
.typcn-social-at-circular:before {
  content: "\e98a";
}
.typcn-shopping-cart:before {
  content: "\e98b";
}
.typcn-shopping-bag:before {
  content: "\e98c";
}
.typcn-scissors:before {
  content: "\e98d";
}
.typcn-scissors-outline:before {
  content: "\e98e";
}
.typcn-rss:before {
  content: "\e98f";
}
.typcn-rss-outline:before {
  content: "\e990";
}
.typcn-refresh:before {
  content: "\e991";
}
.typcn-refresh-outline:before {
  content: "\e992";
}
.typcn-radar:before {
  content: "\e993";
}
.typcn-radar-outline:before {
  content: "\e994";
}
.typcn-puzzle:before {
  content: "\e995";
}
.typcn-puzzle-outline:before {
  content: "\e996";
}
.typcn-printer:before {
  content: "\e997";
}
.typcn-power:before {
  content: "\e998";
}
.typcn-vorwerk:before {
  content: "\e999";
}
.typcn-point-of-interest:before {
  content: "\e99a";
}
.typcn-point-of-interest-outline:before {
  content: "\e99b";
}
.typcn-plus:before {
  content: "\e99c";
}
.typcn-plus-outline:before {
  content: "\e99d";
}
.typcn-plug:before {
  content: "\e99e";
}
.typcn-plane:before {
  content: "\e99f";
}
.typcn-plane-outline:before {
  content: "\e9a0";
}
.typcn-pipette:before {
  content: "\e9a1";
}
.typcn-pin:before {
  content: "\e9a2";
}
.typcn-pin-outline:before {
  content: "\e9a3";
}
.typcn-pi:before {
  content: "\e9a4";
}
.typcn-pi-outline:before {
  content: "\e9a5";
}
.typcn-phone:before {
  content: "\e9a6";
}
.typcn-phone-outline:before {
  content: "\e9a7";
}
.typcn-pencil:before {
  content: "\e9a8";
}
.typcn-pen:before {
  content: "\e9a9";
}
.typcn-notes:before {
  content: "\e9aa";
}
.typcn-notes-outline:before {
  content: "\e9ab";
}
.typcn-news:before {
  content: "\e9ac";
}
.typcn-mortar-board:before {
  content: "\e9ad";
}
.typcn-minus:before {
  content: "\e9ae";
}
.typcn-minus-outline:before {
  content: "\e9af";
}
.typcn-microphone:before {
  content: "\e9b0";
}
.typcn-microphone-outline:before {
  content: "\e9b1";
}
.typcn-messages:before {
  content: "\e9b2";
}
.typcn-message:before {
  content: "\e9b3";
}
.typcn-raspberrypi:before {
   content: "\e9b3";
}
.typcn-message-typing:before {
  content: "\e9b4";
}
.typcn-media-stop:before {
  content: "\e9b5";
}
.typcn-media-stop-outline:before {
  content: "\e9b6";
}
.typcn-media-rewind:before {
  content: "\e9b7";
}
.typcn-media-rewind-outline:before {
  content: "\e9b8";
}
.typcn-media-record:before {
  content: "\e9b9";
}
.typcn-media-record-outline:before {
  content: "\e9ba";
}
.typcn-media-play:before {
  content: "\e9bb";
}
.typcn-media-play-reverse:before {
  content: "\e9bc";
}
.typcn-media-play-reverse-outline:before {
  content: "\e9bd";
}
.typcn-media-play-outline:before {
  content: "\e9be";
}
.typcn-media-pause:before {
  content: "\e9bf";
}
.typcn-media-pause-outline:before {
  content: "\e9c0";
}
.typcn-media-fast-forward:before {
  content: "\e9c1";
}
.typcn-media-fast-forward-outline:before {
  content: "\e9c2";
}
.typcn-media-eject:before {
  content: "\e9c3";
}
.typcn-media-eject-outline:before {
  content: "\e9c4";
}
.typcn-map:before {
  content: "\e9c5";
}
.typcn-mail:before {
  content: "\e9c6";
}
.typcn-lock-open:before {
  content: "\e9c7";
}
.typcn-lock-open-outline:before {
  content: "\e9c8";
}
.typcn-lock-closed:before {
  content: "\e9c9";
}
.typcn-lock-closed-outline:before {
  content: "\e9ca";
}
.typcn-location:before {
  content: "\e9cb";
}
.typcn-location-outline:before {
  content: "\e9cc";
}
.typcn-location-arrow:before {
  content: "\e9cd";
}
.typcn-location-arrow-outline:before {
  content: "\e9ce";
}
.typcn-link:before {
  content: "\e9cf";
}
.typcn-link-outline:before {
  content: "\e9d0";
}
.typcn-lightbulb:before {
  content: "\e9d1";
}
.typcn-leaf:before {
  content: "\e9d2";
}
.typcn-keyboard:before {
  content: "\e9d3";
}
.typcn-key:before {
  content: "\e9d4";
}
.typcn-key-outline:before {
  content: "\e9d5";
}
.typcn-input-checked:before {
  content: "\e9d6";
}
.typcn-input-checked-outline:before {
  content: "\e9d7";
}
.typcn-info:before {
  content: "\e9d8";
}
.typcn-info-outline:before {
  content: "\e9d9";
}
.typcn-info-large:before {
  content: "\e9da";
}
.typcn-info-large-outline:before {
  content: "\e9db";
}
.typcn-arduino:before {
  content: "\e9dd";
}
.typcn-infinity-outline:before {
  content: "\e9de";
}
.typcn-image:before {
  content: "\e9df";
}
.typcn-image-outline:before {
  content: "\e9e0";
}
.typcn-html5:before {
  content: "\e9e1";
}
.typcn-home:before {
  content: "\e9e2";
}
.typcn-home-outline:before {
  content: "\e9e3";
}
.typcn-heart:before {
  content: "\e9e4";
}
.typcn-heart-outline:before {
  content: "\e9e5";
}
.typcn-heart-half-outline:before {
  content: "\e9e6";
}
.typcn-heart-full-outline:before {
  content: "\e9e7";
}
.typcn-headphones:before {
  content: "\e9e8";
}
.typcn-group:before {
  content: "\e9e9";
}
.typcn-group-outline:before {
  content: "\e9ea";
}
.typcn-globe:before {
  content: "\e9eb";
}
.typcn-globe-outline:before {
  content: "\e9ec";
}
.typcn-gift:before {
  content: "\e9ed";
}
.typcn-folder:before {
  content: "\e9ee";
}
.typcn-folder-open:before {
  content: "\e9ef";
}
.typcn-folder-delete:before {
  content: "\e9f0";
}
.typcn-folder-add:before {
  content: "\e9f1";
}
.typcn-flow-switch:before {
  content: "\e9f2";
}
.typcn-flow-parallel:before {
  content: "\e9f3";
}
.typcn-flow-merge:before {
  content: "\e9f4";
}
.typcn-flow-children:before {
  content: "\e9f5";
}
.typcn-flash:before {
  content: "\e9f6";
}
.typcn-flash-outline:before {
  content: "\e9f7";
}
.typcn-flag:before {
  content: "\e9f8";
}
.typcn-flag-outline:before {
  content: "\e9f9";
}
.typcn-filter:before {
  content: "\e9fa";
}
.typcn-film:before {
  content: "\e9fb";
}
.typcn-feather:before {
  content: "\e9fc";
}
.typcn-eye:before {
  content: "\e9fd";
}
.typcn-eye-outline:before {
  content: "\e9fe";
}
.typcn-export:before {
  content: "\e9ff";
}
.typcn-export-outline:before {
  content: "\ea00";
}
.typcn-equals:before {
  content: "\ea01";
}
.typcn-equals-outline:before {
  content: "\ea02";
}
.typcn-eject:before {
  content: "\ea03";
}
.typcn-eject-outline:before {
  content: "\ea04";
}
.typcn-edit:before {
  content: "\ea05";
}
.typcn-dropbox:before {
  content: "\ea06";
}
.typcn-download:before {
  content: "\ea07";
}
.typcn-download-outline:before {
  content: "\ea08";
}
.typcn-document:before {
  content: "\ea09";
}
.typcn-document-text:before {
  content: "\ea0a";
}
.typcn-document-delete:before {
  content: "\ea0b";
}
.typcn-document-add:before {
  content: "\ea0c";
}
.typcn-divide:before {
  content: "\ea0d";
}
.typcn-divide-outline:before {
  content: "\ea0e";
}
.typcn-directions:before {
  content: "\ea0f";
}
.typcn-device-tablet:before {
  content: "\ea10";
}
.typcn-device-phone:before {
  content: "\ea11";
}
.typcn-device-laptop:before {
  content: "\ea12";
}
.typcn-device-desktop:before {
  content: "\ea13";
}
.typcn-delete:before {
  content: "\ea14";
}
.typcn-delete-outline:before {
  content: "\ea15";
}
.typcn-database:before {
  content: "\ea16";
}
.typcn-css3:before {
  content: "\ea17";
}
.typcn-credit-card:before {
  content: "\ea18";
}
.typcn-contacts:before {
  content: "\ea19";
}
.typcn-compass:before {
  content: "\ea1a";
}
.typcn-cog:before {
  content: "\ea1b";
}
.typcn-cog-outline:before {
  content: "\ea1c";
}
.typcn-coffee:before {
  content: "\ea1d";
}
.typcn-code:before {
  content: "\ea1e";
}
.typcn-code-outline:before {
  content: "\ea1f";
}
.typcn-cloud-storage:before {
  content: "\ea20";
}
.typcn-cloud-storage-outline:before {
  content: "\ea21";
}
.typcn-clipboard:before {
  content: "\ea22";
}
.typcn-chevron-right:before {
  content: "\ea23";
}
.typcn-chevron-right-outline:before {
  content: "\ea24";
}
.typcn-chevron-left:before {
  content: "\ea25";
}
.typcn-chevron-left-outline:before {
  content: "\ea26";
}
.typcn-chart-pie:before {
  content: "\ea27";
}
.typcn-chart-pie-outline:before {
  content: "\ea28";
}
.typcn-chart-line:before {
  content: "\ea29";
}
.typcn-chart-line-outline:before {
  content: "\ea2a";
}
.typcn-chart-bar:before {
  content: "\ea2b";
}
.typcn-chart-bar-outline:before {
  content: "\ea2c";
}
.typcn-chart-area:before {
  content: "\ea2d";
}
.typcn-chart-area-outline:before {
  content: "\ea2e";
}
.typcn-cancel:before {
  content: "\ea2f";
}
.typcn-cancel-outline:before {
  content: "\ea30";
}
.typcn-camera:before {
  content: "\ea31";
}
.typcn-camera-outline:before {
  content: "\ea32";
}
.typcn-calendar:before {
  content: "\ea33";
}
.typcn-calendar-outline:before {
  content: "\ea34";
}
.typcn-calculator:before {
  content: "\ea35";
}
.typcn-business-card:before {
  content: "\ea36";
}
.typcn-brush:before {
  content: "\ea37";
}
.typcn-briefcase:before {
  content: "\ea38";
}
.typcn-bookmark:before {
  content: "\ea39";
}
.typcn-book:before {
  content: "\ea3a";
}
.typcn-bell:before {
  content: "\ea3b";
}
.typcn-beer:before {
  content: "\ea3c";
}
.typcn-beaker:before {
  content: "\ea3d";
}
.typcn-battery-mid:before {
  content: "\ea3e";
}
.typcn-battery-low:before {
  content: "\ea3f";
}
.typcn-battery-high:before {
  content: "\ea40";
}
.typcn-battery-full:before {
  content: "\ea41";
}
.typcn-battery-charge:before {
  content: "\ea42";
}
.typcn-backspace:before {
  content: "\ea43";
}
.typcn-backspace-outline:before {
  content: "\ea44";
}
.typcn-attachment:before {
  content: "\ea45";
}
.typcn-attachment-outline:before {
  content: "\ea46";
}
.typcn-at:before {
  content: "\ea47";
}
.typcn-arrow-up:before {
  content: "\ea48";
}
.typcn-arrow-up-thick:before {
  content: "\ea49";
}
.typcn-arrow-up-outline:before {
  content: "\ea4a";
}
.typcn-arrow-unsorted:before {
  content: "\ea4b";
}
.typcn-arrow-sync:before {
  content: "\ea4c";
}
.typcn-arrow-sync-outline:before {
  content: "\ea4d";
}
.typcn-arrow-sorted-up:before {
  content: "\ea4e";
}
.typcn-arrow-sorted-down:before {
  content: "\ea4f";
}
.typcn-arrow-shuffle:before {
  content: "\ea50";
}
.typcn-arrow-right:before {
  content: "\ea51";
}
.typcn-arrow-right-thick:before {
  content: "\ea52";
}
.typcn-arrow-right-outline:before {
  content: "\ea53";
}
.typcn-arrow-repeat:before {
  content: "\ea54";
}
.typcn-arrow-repeat-outline:before {
  content: "\ea55";
}
.typcn-arrow-move:before {
  content: "\ea56";
}
.typcn-arrow-move-outline:before {
  content: "\ea57";
}
.typcn-arrow-minimise:before {
  content: "\ea58";
}
.typcn-arrow-minimise-outline:before {
  content: "\ea59";
}
.typcn-arrow-maximise:before {
  content: "\ea5a";
}
.typcn-arrow-maximise-outline:before {
  content: "\ea5b";
}
.typcn-arrow-loop:before {
  content: "\ea5c";
}
.typcn-arrow-loop-outline:before {
  content: "\ea5d";
}
.typcn-arrow-left:before {
  content: "\ea5e";
}
.typcn-arrow-left-thick:before {
  content: "\ea5f";
}
.typcn-arrow-left-outline:before {
  content: "\ea60";
}
.typcn-arrow-forward:before {
  content: "\ea61";
}
.typcn-arrow-forward-outline:before {
  content: "\ea62";
}
.typcn-arrow-down:before {
  content: "\ea63";
}
.typcn-arrow-down-thick:before {
  content: "\ea64";
}
.typcn-arrow-down-outline:before {
  content: "\ea65";
}
.typcn-arrow-back:before {
  content: "\ea66";
}
.typcn-arrow-back-outline:before {
  content: "\ea67";
}
.typcn-archive:before {
  content: "\ea68";
}
.typcn-anchor:before {
  content: "\ea69";
}
.typcn-anchor-outline:before {
  content: "\ea6a";
}
.typcn-adjust-contrast:before {
  content: "\ea6b";
}
.typcn-adjust-brightness:before {
  content: "\ea6c";
}
.typcn-tinkerbots:before {
  content: "\ea6d";
}
.typcn-ev3:before {
  content: "\ea6e";
}
.typcn-microbit:before {
  content: "\ea6f";
}
.typcn-calliope:before {
  content: "\ea70";
}
.typcn-mbot:before {
  content: "\ea71";
}
.typcn-media-cancel:before {
  content: "\ea72";
}
