**/target
**/bin
**/*.class
Resources/resources/**/*.jar
Resources/updateResources/**/*.jar
Resources/**/*.zip
OpenRobertaParent/RobotEV3/resources/**/*.jar
OpenRobertaParent/OpenRobertaServer/userProjects/*
OpenRobertaParent/OpenRobertaServer/db-*
**/dependency-reduced-pom.xml
**/phantomjsdriver.log
**/.classpath
**/.project
.settings/
.DS_Store
.*
.idea
*.iml
