language: java
jdk:
  - oraclejdk8

before_script:
- ./ora.sh --reset-db
- cd OpenRobertaParent

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  irc: "chat.freenode.net#open-roberta"
