<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-1level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="de.fhg.iais.roberta.util.RobertaProperties"
		level="error"></logger>
	<logger name="de.fhg.iais.roberta.util.Util1" level="error"></logger>

</configuration>