<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<Product Id="05780FA2-4F8F-49E2-8015-A7EEE519B4CD" UpgradeCode="B0066112-867A-40FF-AD0E-555393C5AA32" 
            Name="EV3 USB Connection" Version="0.0.1" Manufacturer="Fraunhofer IAIS" Language="1033">
		<Package Id='*' Keywords='Installer' Description="EV3 USB Connection" Comments='Connect the EV3 via USB cable' Manufacturer='Fraunhofer IAIS'
        InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252'/>
		<Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>
		<!-- <Property Id="SOURCEDIRECTORY" Value="D:\installer\firmware-1.2\" />	 -->
		<Directory Id="TARGETDIR" Name="SourceDir">	
			<Directory Id="ProgramFilesFolder">			
				<Directory Id="INSTALLDIR" Name="USBConnection">
					<Directory Id="FIRMWARE" Name="firmware-1.2">

					</Directory>
					<Directory Id="JAVA" Name="java">

					</Directory>
					<Directory Id="Drivers" Name="DRIVERS">
						<Component Id="DPInst_x32" Guid="9BC0F448-32B2-4A21-8C46-76742266D829">
							<File Id="DPInst.exe_x32" Name="DPInst.exe" Vital="yes" DiskId="1"  Source=".\DPInst\x32\DPInst.exe" />
							<Condition>NOT VersionNT64</Condition>
						</Component>
						<Component Id="DPInst_x64" Guid="A77003C1-4A11-4B0C-A47B-40EDFF66EE29">
							<File Id="DPInst.exe_x64" Name="DPInst.exe" Vital="yes" DiskId="1"  Source=".\DPInst\x64\DPInst.exe" />
							<Condition>VersionNT64</Condition>
						</Component>
						<Component Id="rndiscmp" DiskId="1" Guid="7D591605-AC6C-444D-A692-4D35EDDCAF91">
							<File Id="rndiscmp.inf" Name="rndiscmp.inf" Source=".\Drivers\rndiscmp.inf" />								
						</Component>						
					</Directory>
					<Component Id="ApplicationFiles" Guid="6E0E0772-50D3-4FC6-BD89-3FB6FFF260E8">
						<File Id="ApplicationFile1" Source="OpenRobertaUSBprogram.exe" KeyPath="yes"/>						
					</Component> 
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="USBConnection"/>
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>

		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="5A7D14B3-C3BF-4DE0-826C-AD020C2A036B">
				<Shortcut Id="ApplicationStartMenuShortcut" Name="USBConnection" Description="USBConnection" Target="[INSTALLDIR]OpenRobertaUSBprogram.exe" WorkingDirectory="INSTALLDIR" />
				<RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\USBConnection" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DesktopFolder">
			<Component Id="ApplicationShortcutDesktop" Guid="B00EDEE3-A922-4DDB-A168-B38D4F80B7C4">
				<Shortcut Id="ApplicationDesktopShortcut" Name="USBConnection" Description="USBConnection" Target="[INSTALLDIR]OpenRobertaUSBprogram.exe" WorkingDirectory="INSTALLDIR" />
				<RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\USBConnection" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<Feature Id="Complete" Level="1" Title="EV3 USB Connection" Description="The complete package."
				Display="expand" ConfigurableDirectory="INSTALLDIR">
			<Feature Id='firmware' Title='Description' Description='The instruction manual.' Level='1'>
				<ComponentGroupRef Id='MyComponentGroupId' />
			</Feature>
			<Feature Id='Java' Title='Description' Description='The instruction manual.' Level='1'>
				<ComponentGroupRef Id='JavaGroupId' />
			</Feature>
			<ComponentRef Id="ApplicationFiles"/>
			<Feature Id="Drivers" Level="1" AllowAdvertise="no" ConfigurableDirectory="TARGETDIR" Description="Drivers"  Title="Drivers" >
				<Feature Id='DPInst_x32' Level='0' AllowAdvertise="no" Absent="disallow" Display="hidden">
					<ComponentRef Id='DPInst_x32' />
					<Condition Level="1">NOT VersionNT64</Condition>
				</Feature>
				<Feature Id='DPInst_x64' Level='0' AllowAdvertise="no" Absent="disallow" >
					<ComponentRef Id='DPInst_x64' />
					<Condition Level="1">VersionNT64</Condition>
				</Feature>
				<ComponentRef Id='rndiscmp' />
				<ComponentRef Id="ApplicationShortcut" />
				<ComponentRef Id="ApplicationShortcutDesktop" />
			</Feature>

		</Feature>
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

		<CustomAction Id="PreventDowngrading" Error="Newer version already installed." />
		<CustomAction Id='BeginDriverInstallation' BinaryKey='SystemRestore' JScriptCall='BeginDriverInstallation' Execute='deferred' Return='check' />
		<CustomAction Id='EndDriverInstallation' BinaryKey='SystemRestore' JScriptCall='EndDriverInstallation' Execute='deferred' Return='check' />
		<CustomAction Id='Install_Unsigned_Driver' Execute='deferred' Directory='Drivers' ExeCommand='cmd.exe /c start &quot;&quot; /min DPInst.exe /SA /SW /PATH &quot;./&quot;' Return='check' />
		<CustomAction Id='Uninstall_Unsigned_Driver' Execute='deferred' Directory='Drivers' ExeCommand='cmd.exe /c start &quot;&quot; /min DPinst.exe /U &quot;./rndiscmp.inf&quot; /SW /D' Return='check' />

		<UIRef Id="WixUI_InstallDir" />
		<UIRef Id="WixUI_ErrorProgressText" />
		<InstallUISequence>

			<Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>

		</InstallUISequence>

		<InstallExecuteSequence>	
			<Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
			<Custom Action="BeginDriverInstallation" After="InstallFiles">NOT Installed</Custom>
			<Custom Action="Install_Unsigned_Driver" After="BeginDriverInstallation">NOT Installed</Custom>
			<Custom Action="EndDriverInstallation" After="Install_Unsigned_Driver">NOT Installed</Custom>
			<Custom Action="Uninstall_Unsigned_Driver" After="RemoveRegistryValues">Installed</Custom>
		</InstallExecuteSequence>
		<Binary Id="SystemRestore" SourceFile=".\Scripts\SystemRestore.js" />
	</Product>
</Wix>