<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="FIRMWARE" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="MyComponentGroupId">
            <Component Id="cmpE8E4296AE3F698D241139CE75E9B3986" Directory="FIRMWARE" Guid="{F3319D6D-FC78-468A-84E8-9B042E2C71DF}">
                <File Id="filF6F3EFD3DECD72801E3D1C72ECAA286D" KeyPath="yes" Source="SourceDir\EV3Menu.jar" />
            </Component>
            <Component Id="cmp34E88D05BF8CE8C1F76AEA16B4210E99" Directory="FIRMWARE" Guid="{DDD0D2F1-318F-4162-A9A8-DED3E6FB1D5C}">
                <File Id="filCCA8CCD64AA41BC232C54C6B7A0EC54D" KeyPath="yes" Source="SourceDir\json.jar" />
            </Component>
            <Component Id="cmpFD0E556D1D65F5B5EB533769E4C402D1" Directory="FIRMWARE" Guid="{09D23CDB-23B4-4E11-BC10-6288AFEAE6A9}">
                <File Id="fil0BAC7C87321B19AFA2F5E58DEA81903B" KeyPath="yes" Source="SourceDir\OpenRobertaRuntime.jar" />
            </Component>
            <Component Id="cmp5D37B085FDF64A1B313CC71C99BD7B55" Directory="FIRMWARE" Guid="{30B55559-B16C-461B-B96F-6AA19857032A}">
                <File Id="fil37DFF56856CDCA8C12792E996F423E2A" KeyPath="yes" Source="SourceDir\OpenRobertaShared.jar" />
            </Component>
            <Component Id="cmpA9655D705F34A1062F772BF794E9CD2D" Directory="FIRMWARE" Guid="{8271990C-0476-491A-B1C9-6266D3BE670B}">
                <File Id="fil7D0A9C5EEEF30657D5B7B60BE13F1517" KeyPath="yes" Source="SourceDir\pscp.exe" />
            </Component>
            <Component Id="cmp81417F476AE66C0681F00CB1BAD91D9B" Directory="FIRMWARE" Guid="{9A998FC0-C68F-47C1-AB08-225CC03B27F9}">
                <File Id="filC7A0BC288E7C7D573ADFCF7E40930E34" KeyPath="yes" Source="SourceDir\update.bat" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>