<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<?define RTMProductVersion="1.2.0" ?>
	<?define ProductVersion="1.2.0" ?>
	<?define UpgradeCode="B0066112-867A-40FF-AD0E-555393C5AA32"?>
	<?define ProductCode="05780FA2-4F8F-49E2-8015-A7EEE519B4CD"?>
	<?define Manufacturer="Fraunhofer IAIS"?>
	<?define PackageCode="A45EC15C-77CE-48D4-B923-C5BE98E8B3E9"?>


	<Product
    UpgradeCode  = '$(var.UpgradeCode)'
    Id           = '$(var.ProductCode)'
    Name         = "Open Roberta EV3"
    Language     = '1033'
    Version      = '$(var.ProductVersion)'
    Manufacturer = '$(var.Manufacturer)'
  >
		<Package
      Id               = '*'
      Manufacturer     = '$(var.Manufacturer)'
      InstallerVersion = '200'
      Compressed       = 'yes'
      SummaryCodepage  = '1252'
      Comments         = "Connect the EV3 via USB cable!"
    />

		<!-- <Upgrade Id="$(var.UpgradeCode)">
			<UpgradeVersion Minimum="$(var.ProductVersion)"
                      IncludeMinimum="no"
                      OnlyDetect="yes"
                      Language="1033"
Property="NEWPRODUCTFOUND" />

			<UpgradeVersion Minimum="$(var.RTMProductVersion)"
                      IncludeMinimum="yes"
                      Maximum="$(var.ProductVersion)"
                      IncludeMaximum="no"
                      Language="1033"
Property="UPGRADEFOUND" />
		</Upgrade> -->

		<Media Id='1' Cabinet='Setup.cab' EmbedCab='yes' />
		<Property Id="InstallationFolder">OpenRoberta</Property>
		<Icon Id="OpenRobertaEV3.exe" SourceFile="..\targets\OpenRobertaEV3.exe" />
		<Property Id="ARPPRODUCTICON" Value="OpenRobertaEV3.exe" />
		<WixVariable Id="WixUILicenseRtf" Value="Resources\Apache2.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="Resources\ORBanner.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="Resources\ORDialog.bmp" />
		<WixVariable Id="WixUIInfoIco" Value="Resources\warning-outline.ico" />
		<WixVariable Id="WixUIExclamationIco" Value="Resources\warning-outline.ico" />
			<Directory Id="TARGETDIR" Name="SourceDir">	
			<Directory Id="ProgramFilesFolder">			
				<Directory Id="INSTALLDIR" Name="OpenRoberta">
					<Directory Id="FIRMWARE" Name="firmware-1.2"/>
					<Directory Id="JAVA" Name="java"/>
					<Directory Id="Drivers" Name="Drivers">
						<Component Id="DPInst_x32" Guid="9BC0F448-32B2-4A21-8C46-76742266D829">
							<File Id="DPInst.exe_x32" Name="DPInst.exe" Vital="yes" DiskId="1"  Source="DPInst\x32\DPInst.exe" />
							<Condition>NOT VersionNT64</Condition>
						</Component>
						<Component Id="DPInst_x64" Guid="A77003C1-4A11-4B0C-A47B-40EDFF66EE29">
							<File Id="DPInst.exe_x64" Name="DPInst.exe" Vital="yes" DiskId="1"  Source="DPInst\x64\DPInst.exe" />
							<Condition>VersionNT64</Condition>
						</Component>
						<Component Id="rndiscmp" DiskId="1" Guid="7D591605-AC6C-444D-A692-4D35EDDCAF91">
							<File Id="rndiscmp.inf" Name="rndiscmp.inf" Source="Drivers\rndiscmp.inf" />								
						</Component>						
					</Directory>
					<Component Id="ApplicationFiles" Guid="6E0E0772-50D3-4FC6-BD89-3FB6FFF260E8">
						<File Id="USBCONNECTION_EXE" Source="..\targets\OpenRobertaEV3.exe" KeyPath="yes"/>						
					</Component> 
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="OpenRoberta"/>
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>

		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="5A7D14B3-C3BF-4DE0-826C-AD020C2A036B">
				<Shortcut Id="ApplicationStartMenuShortcut" Name="Open Roberta EV3" Description="Open Roberta EV3" Target="[INSTALLDIR]OpenRobertaEV3.exe" WorkingDirectory="INSTALLDIR" />
				<RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\OpenRoberta" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DesktopFolder">
			<Component Id="ApplicationShortcutDesktop" Guid="B00EDEE3-A922-4DDB-A168-B38D4F80B7C4">
				<Shortcut Id="ApplicationDesktopShortcut" Name="Open Roberta EV3" Description="Open Roberta EV3" Target="[INSTALLDIR]OpenRobertaEV3.exe" WorkingDirectory="INSTALLDIR" />
				<RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\OpenRoberta" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<Feature Id="Complete" Level="1" Title="Open Roberta EV3" Description="The complete package."
				Display="expand" ConfigurableDirectory="INSTALLDIR">
			
			<Feature Id="Drivers" Level="1" AllowAdvertise="no" ConfigurableDirectory="TARGETDIR" Description="Drivers"  Title="Drivers" >
				<Feature Id='DPInst_x32' Level='0' AllowAdvertise="no" Absent="disallow" Display="hidden">
					<ComponentRef Id='DPInst_x32' />
					<Condition Level="1">NOT VersionNT64</Condition>
				</Feature>
				<Feature Id='DPInst_x64' Level='0' AllowAdvertise="no" Absent="disallow" >
					<ComponentRef Id='DPInst_x64' />
					<Condition Level="1">VersionNT64</Condition>
				</Feature>				
			</Feature>
			
			<Feature Id='firmware' Title='Description' Description='New firmware for the brick' Level='1'>
				<ComponentGroupRef Id='MyComponentGroupId' />
			</Feature>
			
			<Feature Id='Java' Title='Description' Description='java JDK' Level='1'>
				<ComponentGroupRef Id='JavaGroupId' />
			</Feature>

			<ComponentRef Id="ApplicationFiles"/>
			<ComponentRef Id='rndiscmp' />
			<ComponentRef Id="ApplicationShortcut" />
			<ComponentRef Id="ApplicationShortcutDesktop" />	
		</Feature>
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

		<CustomAction Id="PreventDowngrading" Error="Newer version already installed." />
		<CustomAction Id='BeginDriverInstallation' BinaryKey='SystemRestore' JScriptCall='BeginDriverInstallation' Execute='deferred' Return='check' />
		<CustomAction Id='EndDriverInstallation' BinaryKey='SystemRestore' JScriptCall='EndDriverInstallation' Execute='deferred' Return='check' />
		<CustomAction Id='Install_Unsigned_Driver' Execute='deferred' Directory='Drivers' ExeCommand='cmd.exe /c start &quot;&quot; /min DPInst.exe /SA /SW /PATH &quot;./&quot;' Return='check' />
		<CustomAction Id='Uninstall_Unsigned_Driver' Execute='deferred' Directory='Drivers' ExeCommand='cmd.exe /c start &quot;&quot; /min DPinst.exe /U &quot;./rndiscmp.inf&quot; /SW /D' Return='check' />

		<UIRef Id="WixUI_InstallDir" />
		<UIRef Id="WixUI_ErrorProgressText" />
		<InstallUISequence>

			<Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>

		</InstallUISequence>

		<InstallExecuteSequence>	
		  	<Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
			<Custom Action="BeginDriverInstallation" After="InstallFiles">NOT Installed</Custom>
			<Custom Action="Install_Unsigned_Driver" After="BeginDriverInstallation">NOT Installed</Custom>
			<Custom Action="EndDriverInstallation" After="Install_Unsigned_Driver">NOT Installed</Custom>
			<Custom Action="Uninstall_Unsigned_Driver" After="RemoveRegistryValues">Installed</Custom>
		</InstallExecuteSequence>
		<Binary Id="SystemRestore" SourceFile="Scripts\SystemRestore.js" />
	</Product>
</Wix>