@charset "UTF-8";

*:hover, *:active, *:visited, *:focus, a:focus {
	outline: 0;
	outline: none;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.top-buffer {
  margin-top:5px;
}

.bottom-buffer {
  margin-bottom:5px;
}

dialog {
	border: 0;
}

.tk {
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	height : 25px;
}

body {
    margin: 0;
}

.navbar {        
  width: 100%;
  background: #FFFFFF;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1.5;
  float: left;
  clear:both;
}

.navbar ul, .navbar ul ul {   
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul ul {
  position: absolute;
  z-index: 2;
  display: none;
} 

.navbar p {
  text-align: center;
  color: #000;
  background: #FFFFFF;
  padding: 3px;
}

.navbar p:hover {
  background: #afca04;
}

.navbar a {
text-decoration: none;
display: block;
border: 1px solid #000000;
text-align: center;
background:  #FFFFFF;
color: #003366;
padding:  2px;
} 

.navbar a:hover {
  color: #ff9224;
  background: #FFFFFF;
} 

.navbar li {
  position: relative;
} 

.navbar ul li:hover ul {
  display: block;
} 

.trenner {
	  background-color:#D2D2D2;
  	color:#D2D2D2;
  	border:#D2D2D2;
  	height:1px;
}

button {
    background-color: #afca04;
    color:  #FFFFFF;
    font-size: 17px;
    font-weight: normal;
    margin: 0;
    padding: 6px 10px 3px 10px;
    border-radius: 2px;
    border: 1px solid #afca04;
}

button:disabled {
    color: graytext;
}

p, textarea, input, .btn, .menu, .desc, .iptext, .porttext  {
    font-family: sans-serif;  
    margin: 0;
}

textarea, input {
  overflow: hidden;
}

.btn {
  margin-right: 16px;
}

.maintitle {
    justify-content: flex-start;
}

.robstatus {
    text-align: right;
    margin-top: 2px;
    margin-left: -3px;
}

.info, .adv, .tokenarea, .altdesc {
    border:0px;
    resize:none;
}

.altdesc {
  padding: 0px;
  width: 100%;
}

.iptext {
  margin-top: 2px;
}

.porttext {
  text-align: right;
  margin-top: 2px;
}

#ip {
  width: 100%;
}

#port {
  margin-left: 10px;
  width: 100%;
}

.grid {
    margin: 0 auto;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding-left: 10px;
    padding-right: 10px;
}

.navrow {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
} 

