@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
    font-size: medium;
	font-style: normal;
	margin-right: 3px;
}.flaticon-add10:before {
	content: "\e000";
}
.flaticon-add9:before {
	content: "\e001";
}
.flaticon-adjust1:before {
	content: "\e002";
}
.flaticon-adjust:before {
	content: "\e003";
}
.flaticon-anchor1:before {
	content: "\e004";
}
.flaticon-anchor:before {
	content: "\e005";
}
.flaticon-archives1:before {
	content: "\e006";
}
.flaticon-arrow32:before {
	content: "\e007";
}
.flaticon-arrow33:before {
	content: "\e008";
}
.flaticon-arrow34:before {
	content: "\e009";
}
.flaticon-arrow35:before {
	content: "\e00a";
}
.flaticon-arrow36:before {
	content: "\e00b";
}
.flaticon-arrow37:before {
	content: "\e00c";
}
.flaticon-arrow38:before {
	content: "\e00d";
}
.flaticon-arrow39:before {
	content: "\e00e";
}
.flaticon-arrow40:before {
	content: "\e00f";
}
.flaticon-arrow41:before {
	content: "\e010";
}
.flaticon-arrow42:before {
	content: "\e011";
}
.flaticon-arrow43:before {
	content: "\e012";
}
.flaticon-arrow44:before {
	content: "\e013";
}
.flaticon-arrow45:before {
	content: "\e014";
}
.flaticon-arrow46:before {
	content: "\e015";
}
.flaticon-arrow47:before {
	content: "\e016";
}
.flaticon-arrow48:before {
	content: "\e017";
}
.flaticon-arrow49:before {
	content: "\e018";
}
.flaticon-arrow50:before {
	content: "\e019";
}
.flaticon-arrow51:before {
	content: "\e01a";
}
.flaticon-arrow52:before {
	content: "\e01b";
}
.flaticon-at:before {
	content: "\e01c";
}
.flaticon-backspace:before {
	content: "\e01d";
}
.flaticon-battery1:before {
	content: "\e01e";
}
.flaticon-battery2:before {
	content: "\e01f";
}
.flaticon-battery3:before {
	content: "\e020";
}
.flaticon-black12:before {
	content: "\e021";
}
.flaticon-black13:before {
	content: "\e022";
}
.flaticon-black14:before {
	content: "\e023";
}
.flaticon-black15:before {
	content: "\e024";
}
.flaticon-black16:before {
	content: "\e025";
}
.flaticon-black17:before {
	content: "\e026";
}
.flaticon-black18:before {
	content: "\e027";
}
.flaticon-black22:before {
	content: "\e028";
}
.flaticon-black23:before {
	content: "\e029";
}
.flaticon-black3:before {
	content: "\e02a";
}
.flaticon-black4:before {
	content: "\e02b";
}
.flaticon-black5:before {
	content: "\e02c";
}
.flaticon-botton2:before {
	content: "\e02d";
}
.flaticon-briefcase1:before {
	content: "\e02e";
}
.flaticon-brush5:before {
	content: "\e02f";
}
.flaticon-business:before {
	content: "\e030";
}
.flaticon-calculator2:before {
	content: "\e031";
}
.flaticon-calendar3:before {
	content: "\e032";
}
.flaticon-camera1:before {
	content: "\e033";
}
.flaticon-cancel1:before {
	content: "\e034";
}
.flaticon-cancel:before {
	content: "\e035";
}
.flaticon-chart3:before {
	content: "\e036";
}
.flaticon-chart4:before {
	content: "\e037";
}
.flaticon-chart5:before {
	content: "\e038";
}
.flaticon-chart6:before {
	content: "\e039";
}
.flaticon-chevron1:before {
	content: "\e03a";
}
.flaticon-chevron3:before {
	content: "\e03b";
}
.flaticon-chevron:before {
	content: "\e03c";
}
.flaticon-chronograph1:before {
	content: "\e03d";
}
.flaticon-clipboard1:before {
	content: "\e03e";
}
.flaticon-cloud6:before {
	content: "\e03f";
}
.flaticon-code:before {
	content: "\e040";
}
.flaticon-compass1:before {
	content: "\e041";
}
.flaticon-complete1:before {
	content: "\e042";
}
.flaticon-credit:before {
	content: "\e043";
}
.flaticon-cup2:before {
	content: "\e044";
}
.flaticon-database2:before {
	content: "\e045";
}
.flaticon-delete10:before {
	content: "\e046";
}
.flaticon-delete4:before {
	content: "\e047";
}
.flaticon-delete5:before {
	content: "\e048";
}
.flaticon-device2:before {
	content: "\e049";
}
.flaticon-device:before {
	content: "\e04a";
}
.flaticon-directions1:before {
	content: "\e04b";
}
.flaticon-divide1:before {
	content: "\e04c";
}
.flaticon-divide:before {
	content: "\e04d";
}
.flaticon-download1:before {
	content: "\e04e";
}
.flaticon-dribble1:before {
	content: "\e04f";
}
.flaticon-eject1:before {
	content: "\e050";
}
.flaticon-eject:before {
	content: "\e051";
}
.flaticon-empty3:before {
	content: "\e052";
}
.flaticon-equals1:before {
	content: "\e053";
}
.flaticon-equal:before {
	content: "\e054";
}
.flaticon-eye1:before {
	content: "\e055";
}
.flaticon-facebook3:before {
	content: "\e056";
}
.flaticon-favorite3:before {
	content: "\e057";
}
.flaticon-feather:before {
	content: "\e058";
}
.flaticon-film6:before {
	content: "\e059";
}
.flaticon-flag:before {
	content: "\e05a";
}
.flaticon-flash:before {
	content: "\e05b";
}
.flaticon-flickr2:before {
	content: "\e05c";
}
.flaticon-flickr:before {
	content: "\e05d";
}
.flaticon-float2:before {
	content: "\e05e";
}
.flaticon-flow1:before {
	content: "\e05f";
}
.flaticon-flow3:before {
	content: "\e060";
}
.flaticon-flow:before {
	content: "\e061";
}
.flaticon-folder3:before {
	content: "\e062";
}
.flaticon-folder4:before {
	content: "\e063";
}
.flaticon-foldout1:before {
	content: "\e064";
}
.flaticon-gift1:before {
	content: "\e065";
}
.flaticon-github1:before {
	content: "\e066";
}
.flaticon-github:before {
	content: "\e067";
}
.flaticon-globe3:before {
	content: "\e068";
}
.flaticon-globe:before {
	content: "\e069";
}
.flaticon-great:before {
	content: "\e06a";
}
.flaticon-group1:before {
	content: "\e06b";
}
.flaticon-group:before {
	content: "\e06c";
}
.flaticon-home1:before {
	content: "\e06d";
}
.flaticon-i7:before {
	content: "\e06e";
}
.flaticon-i8:before {
	content: "\e06f";
}
.flaticon-image:before {
	content: "\e070";
}
.flaticon-infinity1:before {
	content: "\e071";
}
.flaticon-info1:before {
	content: "\e072";
}
.flaticon-information:before {
	content: "\e073";
}
.flaticon-info:before {
	content: "\e074";
}
.flaticon-input2:before {
	content: "\e075";
}
.flaticon-input:before {
	content: "\e076";
}
.flaticon-key5:before {
	content: "\e077";
}
.flaticon-laptop:before {
	content: "\e078";
}
.flaticon-large:before {
	content: "\e079";
}
.flaticon-lastfm1:before {
	content: "\e07a";
}
.flaticon-lastfm:before {
	content: "\e07b";
}
.flaticon-lightbulb1:before {
	content: "\e07c";
}
.flaticon-link1:before {
	content: "\e07d";
}
.flaticon-linkedin1:before {
	content: "\e07e";
}
.flaticon-location1:before {
	content: "\e07f";
}
.flaticon-location3:before {
	content: "\e080";
}
.flaticon-location:before {
	content: "\e081";
}
.flaticon-lock1:before {
	content: "\e082";
}
.flaticon-mail:before {
	content: "\e083";
}
.flaticon-media10:before {
	content: "\e084";
}
.flaticon-media1:before {
	content: "\e085";
}
.flaticon-media2:before {
	content: "\e086";
}
.flaticon-media3:before {
	content: "\e087";
}
.flaticon-media4:before {
	content: "\e088";
}
.flaticon-media5:before {
	content: "\e089";
}
.flaticon-media6:before {
	content: "\e08a";
}
.flaticon-media7:before {
	content: "\e08b";
}
.flaticon-media8:before {
	content: "\e08c";
}
.flaticon-media9:before {
	content: "\e08d";
}
.flaticon-media:before {
	content: "\e08e";
}
.flaticon-menu2:before {
	content: "\e08f";
}
.flaticon-menu:before {
	content: "\e090";
}
.flaticon-message1:before {
	content: "\e091";
}
.flaticon-messages1:before {
	content: "\e092";
}
.flaticon-message:before {
	content: "\e093";
}
.flaticon-microphone2:before {
	content: "\e094";
}
.flaticon-minimise1:before {
	content: "\e095";
}
.flaticon-music9:before {
	content: "\e096";
}
.flaticon-no:before {
	content: "\e097";
}
.flaticon-open1:before {
	content: "\e098";
}
.flaticon-out:before {
	content: "\e099";
}
.flaticon-partly:before {
	content: "\e09a";
}
.flaticon-pencil1:before {
	content: "\e09b";
}
.flaticon-phone6:before {
	content: "\e09c";
}
.flaticon-phone7:before {
	content: "\e09d";
}
.flaticon-pi1:before {
	content: "\e09e";
}
.flaticon-pie1:before {
	content: "\e09f";
}
.flaticon-pie:before {
	content: "\e0a0";
}
.flaticon-pin2:before {
	content: "\e0a1";
}
.flaticon-pine1:before {
	content: "\e0a2";
}
.flaticon-pinterest3:before {
	content: "\e0a3";
}
.flaticon-pinterest:before {
	content: "\e0a4";
}
.flaticon-pipette1:before {
	content: "\e0a5";
}
.flaticon-pitcher1:before {
	content: "\e0a6";
}
.flaticon-plane7:before {
	content: "\e0a7";
}
.flaticon-plug1:before {
	content: "\e0a8";
}
.flaticon-plug:before {
	content: "\e0a9";
}
.flaticon-point:before {
	content: "\e0aa";
}
.flaticon-power1:before {
	content: "\e0ab";
}
.flaticon-power2:before {
	content: "\e0ac";
}
.flaticon-printer1:before {
	content: "\e0ad";
}
.flaticon-puzzle2:before {
	content: "\e0ae";
}
.flaticon-puzzle:before {
	content: "\e0af";
}
.flaticon-radar:before {
	content: "\e0b0";
}
.flaticon-refresh5:before {
	content: "\e0b1";
}
.flaticon-rounded6:before {
	content: "\e0b2";
}
.flaticon-rss5:before {
	content: "\e0b3";
}
.flaticon-rss6:before {
	content: "\e0b4";
}
.flaticon-scissors:before {
	content: "\e0b5";
}
.flaticon-shopping1:before {
	content: "\e0b6";
}
.flaticon-shopping2:before {
	content: "\e0b7";
}
.flaticon-signal:before {
	content: "\e0b8";
}
.flaticon-skype1:before {
	content: "\e0b9";
}
.flaticon-skype2:before {
	content: "\e0ba";
}
.flaticon-small11:before {
	content: "\e0bb";
}
.flaticon-small13:before {
	content: "\e0bc";
}
.flaticon-small14:before {
	content: "\e0bd";
}
.flaticon-small17:before {
	content: "\e0be";
}
.flaticon-small20:before {
	content: "\e0bf";
}
.flaticon-small6:before {
	content: "\e0c0";
}
.flaticon-snowflake1:before {
	content: "\e0c1";
}
.flaticon-social3:before {
	content: "\e0c2";
}
.flaticon-social:before {
	content: "\e0c3";
}
.flaticon-sort2:before {
	content: "\e0c4";
}
.flaticon-sort:before {
	content: "\e0c5";
}
.flaticon-spanner:before {
	content: "\e0c6";
}
.flaticon-sprocket1:before {
	content: "\e0c7";
}
.flaticon-starburst1:before {
	content: "\e0c8";
}
.flaticon-sunny1:before {
	content: "\e0c9";
}
.flaticon-tabs1:before {
	content: "\e0ca";
}
.flaticon-tags1:before {
	content: "\e0cb";
}
.flaticon-th2:before {
	content: "\e0cc";
}
.flaticon-the11:before {
	content: "\e0cd";
}
.flaticon-the12:before {
	content: "\e0ce";
}
.flaticon-the13:before {
	content: "\e0cf";
}
.flaticon-the14:before {
	content: "\e0d0";
}
.flaticon-the15:before {
	content: "\e0d1";
}
.flaticon-the16:before {
	content: "\e0d2";
}
.flaticon-the17:before {
	content: "\e0d3";
}
.flaticon-the18:before {
	content: "\e0d4";
}
.flaticon-there1:before {
	content: "\e0d5";
}
.flaticon-thick1:before {
	content: "\e0d6";
}
.flaticon-th:before {
	content: "\e0d7";
}
.flaticon-thumbs1:before {
	content: "\e0d8";
}
.flaticon-thumbs2:before {
	content: "\e0d9";
}
.flaticon-ticket1:before {
	content: "\e0da";
}
.flaticon-tick:before {
	content: "\e0db";
}
.flaticon-time:before {
	content: "\e0dc";
}
.flaticon-trash2:before {
	content: "\e0dd";
}
.flaticon-tumblr3:before {
	content: "\e0de";
}
.flaticon-tumblr:before {
	content: "\e0df";
}
.flaticon-twitter7:before {
	content: "\e0e0";
}
.flaticon-upload1:before {
	content: "\e0e1";
}
.flaticon-user2:before {
	content: "\e0e2";
}
.flaticon-user5:before {
	content: "\e0e3";
}
.flaticon-user:before {
	content: "\e0e4";
}
.flaticon-video2:before {
	content: "\e0e5";
}
.flaticon-video3:before {
	content: "\e0e6";
}
.flaticon-vimeo1:before {
	content: "\e0e7";
}
.flaticon-vimeo:before {
	content: "\e0e8";
}
.flaticon-volume9:before {
	content: "\e0e9";
}
.flaticon-warning1:before {
	content: "\e0ea";
}
.flaticon-warning:before {
	content: "\e0eb";
}
.flaticon-waves1:before {
	content: "\e0ec";
}
.flaticon-waves:before {
	content: "\e0ed";
}
.flaticon-weather2:before {
	content: "\e0ee";
}
.flaticon-weather3:before {
	content: "\e0ef";
}
.flaticon-weather4:before {
	content: "\e0f0";
}
.flaticon-weather5:before {
	content: "\e0f1";
}
.flaticon-wifi2:before {
	content: "\e0f2";
}
.flaticon-wifi3:before {
	content: "\e0f3";
}
.flaticon-windy1:before {
	content: "\e0f4";
}
.flaticon-windy:before {
	content: "\e0f5";
}
.flaticon-wine4:before {
	content: "\e0f6";
}
.flaticon-with3:before {
	content: "\e0f7";
}
.flaticon-with4:before {
	content: "\e0f8";
}
.flaticon-with5:before {
	content: "\e0f9";
}
.flaticon-with6:before {
	content: "\e0fa";
}
.flaticon-with7:before {
	content: "\e0fb";
}
.flaticon-with8:before {
	content: "\e0fc";
}
.flaticon-with9:before {
	content: "\e0fd";
}
.flaticon-world1:before {
	content: "\e0fe";
}
.flaticon-wristwatch1:before {
	content: "\e0ff";
}
.flaticon-yesterday1:before {
	content: "\e100";
}
.flaticon-zoom1:before {
	content: "\e101";
}
.flaticon-zoom2:before {
	content: "\e102";
}
.flaticon-zoom3:before {
	content: "\e103";
}
.flaticon-zoom4:before {
	content: "\e104";
}
