Section: web
Architecture: all
Maintainer: Open Roberta Team
Description: Connect your EV3 via USB with the Open Roberta Lab.
 You need
 * this software
 * an EV3 with the Open Roberta image on an sd-card
 * a USB cable for the EV3
 * a browser to open the Open Roberta Lab and to connect your robot 
Depends: oracle-java7-installer
Homepage: dev.open-roberta.org
