Source: openrobertalab
Maintainer: Stefan Sauer <ensonic@google.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), 
 debhelper (>= 9), dh-systemd (>= 1.14), dh-python
Standards-Version: 3.9.5
Homepage: http://www.ev3dev.org/

Package: openrobertalab
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, systemd, python-dbus, python-bluez, python-ev3dev
Description: lab.open-roberta.org connector for ev3dev.org
 Open-roberta.org is a webplatform for learning how to progra robots. This
 package is a service for the LEGO Mindstors EV3 running ev3dev.org to connect
 to the cloud ide.
