#!/usr/bin/make -f

export DH_VERBOSE = 1
export PYBUILD_NAME = openrobertalab
export PYBUILD_SYSTEM = distutils

%:
	dh $@ --with=python2,systemd --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	install -D -o root -g root -m 644 debian/openrobertalab.conf debian/tmp/etc/dbus-1/system.d/openrobertalab.conf
		
override_dh_install:
	dh_install etc/dbus-1/system.d/openrobertalab.conf

override_dh_installinit:
	# don't do anything, silences lintian warnings
	# see https://github.com/ev3dev/brickman/blob/ev3dev-jessie/debian/rules
